---
import FullScreenLayout from "@layouts/FullScreenLayout.astro";
import ShadowMaker from "@components/CV/ShadowMaker.svelte";
---

<FullScreenLayout>
    <div class="container">
        <ShadowMaker client:only>
            <img
                src="/images/cv/andrew-profile.jpg"
                alt="Photo of Andrew JD Hudson"
            />
        </ShadowMaker>
    </div>
</FullScreenLayout>

<style>
    .container {
        display: grid;
        place-content: center;
    }
</style>
