---
import ShadowMakerSvelte from "@components/CV/ShadowMaker.svelte";
import DemoLayout from "@layouts/DemoLayout.astro";
---

<DemoLayout title="Shadow Maker">
    <div class="container">
        <ShadowMakerSvelte client:only>
            <img
                src="/images/cv/andrew-profile.jpg"
                alt="Photo of Andrew JD Hudson"
            />
        </ShadowMakerSvelte>
    </div>
</DemoLayout>

<style>
    .container {
        display: grid;
        place-content: center;
    }
</style>
