---
import ExternalLink from '@components/Global/ExternalLink.astro'
import DefaultLayout from '../../layouts/DefaultLayout.astro'

const title = 'Tools I use'
---

<DefaultLayout title={title}>
	<div class="container">
        <h3>Social Media</h3>
		<ul>
			<li>
				<p>For excellent code screenshots for sharing on social media I use <ExternalLink href="https://app.codeimage.dev/">codeimage</ExternalLink></p>
				<figure>
					<img src="/images/code-image.png" alt="Screenshot of Code image homepage" width="600"/>
				</figure>
			</li>
		</ul>
		
	</div>
</DefaultLayout>

<style>
body {
	--theme-accent: oklch(0.59 0.31 309.65);
}

.container {
	:global(.intro) {
		& + h2 {
			margin-block-start: 2rem;
		}
	}

	& figure {
		box-shadow: 1px 1px 5px var(--theme-accent);
		padding: 1rem;
		border-radius: 0.5rem;
		margin-block-start: 1rem;
	}

	& img {
		max-width: 100%;
	}
}
</style>
