---
import Canvas from "@components/Global/Canvas.astro";
import FullScreenLayout from "@layouts/FullScreenLayout.astro";

const title = "Canvas 9 - Zigzag Lines";
---

<FullScreenLayout title={title}>
  <div class="container">
    <Canvas width={800} height={800} />
  </div>
</FullScreenLayout>

<script>
  const canvas = document.getElementById("canvas");
  const { width, height } = canvas.getBoundingClientRect();
  // @ts-ignore
  const ctx = canvas.getContext("2d");
  const zigZagHeight = 10;
  const diff = 30;

  function draw() {
    ctx.fillStyle = "white";
    ctx.fillRect(0, 0, width, height);

    // Draw the zigzags
    for (let j = 1; j <= height / zigZagHeight; j++) {
      let top = j * zigZagHeight - zigZagHeight;
      ctx.beginPath();
      ctx.moveTo(0, top);
      for (let i = 0; i <= width / (diff * 2); i++) {
        const down = diff + i * diff * 2;
        const up = diff + diff + i * diff * 2;
        ctx.lineTo(down, zigZagHeight * j);
        ctx.lineTo(up, top);
      }
      ctx.lineCap = "round";
      ctx.lineWidth = j % 2 ? 2 : 10;
      ctx.strokeStyle = j % 2 === 0 ? "red" : "purple";
      ctx.stroke();
      ctx.beginPath();
    }
  }
  draw();
</script>
