---
import Canvas from '@components/Global/Canvas.astro'
import FullScreenLayout from '@layouts/FullScreenLayout.astro'

const title = 'Canvas 5 - some random circles'
---

<FullScreenLayout title={title}>
  <div class="container">
    <Canvas reload />
  </div>
</FullScreenLayout>

<script>
  const canvas = document.getElementById("canvas")! as HTMLCanvasElement;


  const { width, height } = canvas.getBoundingClientRect();
  const ctx = canvas.getContext("2d")!;

  let x = 0;
  let y = 0;

  const drawCircle = (x: number, y: number, size: number, color = "red") => {
    ctx.beginPath();
    ctx.arc(x, y, size, 0, 2 * Math.PI);
    ctx.fillStyle = color;
    ctx.fill();
    ctx.closePath();
  };

  const init = () => {
    for (let j = 0; j <= 100; j++) {
      draw();
    }
  };

  function draw() {
    x =
      x <= width
        ? x + Math.cos(Math.random()) * (width / 10)
        : Math.random() * 100;
    y =
      y <= height
        ? y + Math.tan(Math.random()) * (width / 10)
        : Math.random() * 100;

    const color = `hsl(${Math.floor(x)}, 100%, 50%, ${
      Math.random() * 1
    })`;
    drawCircle(
      x,
      y,
      Math.random() * (Math.random() * 100),
      color
    );
  }

  init();

 const reloadButton = document.getElementById("reload");

  if (reloadButton && ctx) {
    reloadButton.addEventListener("click", function () {
      ctx.clearRect(0, 0, width, height);
      init();
    });
  }
</script>
