---
import Canvas from "@components/Global/Canvas.astro";
import FullScreenLayout from "@layouts/FullScreenLayout.astro";

const title = "Canvas 2 - drawing circles";
---

<FullScreenLayout title={title}>
  <div class="container">
    <Canvas />
  </div>
</FullScreenLayout>

<script>
  const canvas = document.getElementById("canvas");
  const { width, height } = canvas;
  const ctx = canvas.getContext("2d");

  const drawCircle = (x, y, size, color = "red") => {
    ctx.beginPath();
    ctx.arc(x, y, size, 0, 2 * Math.PI);
    ctx.fillStyle = color;
    ctx.fill();
    ctx.closePath();
  };

  // Make a circle
  const middle = (height / 2, width / 2);

  // x, y, radius, start angle (in radians), end angle (in radians)
  drawCircle(width / 2, height / 2, 100, "black");
  drawCircle(width / 3, height / 3, 20, "red");
  drawCircle(width / 4, height / 4, 40, "blue");
</script>
