---
import LibraryLayout from '@layouts/LibraryLayout.astro'
const title = 'Bibliothèque'
---

<LibraryLayout title={title} accent="oklch(0.52 0.12 189.58)">
  <details open>
    <summary>introduction</summary>
    <p>
      Je stocke les livres que je lis et que j'ai lus dans Notion. J'utilise
      cette page pour afficher les livres que j'ai lus et le mois où j'ai fini
      de les lire.
    </p>
  </details>
</LibraryLayout>

