---
import FullScreenLayout from '@layouts/FullScreenLayout.astro'

const title = 'Houdini Paint 2 - Zigzags'
const color1 = '#00FFFF' // cyan
const color2 = '#FF69B4' // hotpink
---

<FullScreenLayout title={title}>
  <div id="controls">
    <label for="color1">Color 1</label>
    <input
      type="color"
      value={color1}
      id="color1"
      oninput="container.style.setProperty('--color-1', this.value)"
    />

    <label for="width1">Width 1</label>
    <input
      type="range"
      min="1"
      max="100"
      value={color1}
      id="width1"
      oninput="container.style.setProperty('--width-1', this.value)"
    />

    <label for="color2">Color 2</label>
    <input
      type="color"
      value={color2}
      id="color2"
      oninput="container.style.setProperty('--color-2', this.value)"
    />

    <label for="width1">Width 2</label>
    <input
      type="range"
      min="1"
      max="100"
      value="3"
      id="width2"
      oninput="container.style.setProperty('--width-2', this.value)"
    />

    <label for="diff">Diff</label>
    <input
      type="range"
      min="5"
      max="200"
      value="10"
      id="diff"
      oninput="container.style.setProperty('--diff', this.value)"
    />

    <label for="height">Height</label>
    <input
      type="range"
      min="1"
      max="200"
      value="100"
      id="height"
      oninput="container.style.setProperty('--height', this.value)"
    />
  </div>
  <div id="container">
    <div class="message">
      <p>
        Your browser does not support the Houdini Paint Api.
        Try this page in Chrome, Edge, or Opera. See <a
          href="https://caniuse.com/?search=paint"
          >caniuse.com/?search=paint</a>
      </p>
    </div>
    <div class="container container--small"></div>

    <div class="container"></div>
  </div>
</FullScreenLayout>

<style>
  #controls {
    visibility: hidden;
  }

  #container {
    display: grid;
    gap: 2em;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  }

  .container {
    height: 300px;
    width: 100%;
    position: relative;
    border: 1px solid black;
    display: none;
  }

  .container--small {
    height: 200px;
  }

  .message {
    border: 10px double red;
    padding: 1rem;
  }

  @supports (background: paint(zigzag)) {
    .container {
      background: paint(zigzag);
      display: block;
    }

    #controls {
      visibility: visible;
    }

    .message {
      display: none;
    }
  }
</style>

<script>
  if ("paintWorklet" in CSS) {
    console.info("supports paintWorklet");
    CSS.paintWorklet.addModule("/js/houdini-paint-2.js");
  } else {
    console.info("doesn't support paintWorklet");
  }
</script>
