.container {
	--color-for-bg: purple;
	border-left: 10px solid transparent;
	border-image: paint(astro);
	padding-left: 10px;
	border-left-width: 100px;
    border-left-style: solid;
	border-color: var(--color-for-bg);
}

@supports (border-image: paint(astro)) {
	.container {
		border-image-source: paint(astro);
    	border-image-repeat: repeat;
    	border-image-slice: 1%;
	}
}
