---
import DemoLayout from "@layouts/DemoLayout.astro";
---

<DemoLayout  title="Scroll 3">
  <div class="container">
    <header>
        <p>I am the header</p>
    </header>
    <main>
        <p>I am the main</p>
    </main>
    <footer>
        <p>I am the footer!</p>
    </footer>
  </div>
</DemoLayout>

<style>
  body {
    container-type: inline-size;
  }

  :global(body),
  :global(.slot.slot) {
    padding: 0;
    margin: 0;
  }


</style>
