---
// Component Imports
import FullScreenLayout from '../../layouts/FullScreenLayout.astro';
import Block from './Block.astro';
import 'src/css/container-queries-2.css';

const title = 'Continer Queries 2 - Style';

---

<FullScreenLayout title={title}>
	<div class="warning">
		<p>Your browser doesn't currently support @container queries.</p>
	</div>

	<div class="info">
		<p>Browser support is incomplete.</p>
		<p>In Chrome, Edge you can enable with the chrome://flags/#enable-container-queries flag</p>
		<p>With Safari you can use `Safari Technical Preview 142+`</p>
		<p><a href="https://caniuse.com/css-container-queries">Check for latest support on Caniuse.com</a></p>
	</div>

  	<div class="container">
		<main>
		<section>
				<Block />
				<Block />
				<Block />
			</section>
			<aside>
				<Block />
				<Block />
			</aside>

			
		</main>

		<footer>
			<Block />
		</footer>
	</div>
</FullScreenLayout>

<style>
main {
	gap: 1em;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

section, footer, aside {
	border: 1px solid black;
	padding: 1em;
}

aside {
	display: grid;
	grid-template-rows: 3fr 1fr;
}

section {
	display: grid;
	grid-template-columns: 3fr 2fr 1fr;
}

footer {
	margin-top: 1em;
}

@supports (container-type: inline-size) {
	.warning {
		display: none;
	}
}

.info {
	margin-bottom: 3em;
}
</style>
