---
// Component Imports
import FullScreenLayout from '../../layouts/FullScreenLayout.astro';
import Block from './Block.astro';
import 'src/css/container-queries-1.css';

const title = 'Continer Queries 1 - Intro';

---

<FullScreenLayout title={title}>
  <div class="container">
	<main>
		<aside>
		<Block />
		<Block />
		<Block />

		</aside>

		<section>
			<Block />
			<Block />


		</section>



	</main>

	<footer>
		<Block />
	</footer>


</div>
</FullScreenLayout>

<style>
main {
	max-width: 1500px;
	gap: 1em;
	display: grid;
	grid-template-columns: 3fr 1fr;


}

section, footer, aside {
	border: 1px solid black;
	padding: 1em;
}

footer {
	margin-top: 1em;
}


</style>
