---
// Component Imports
import FullScreenLayout from '../../layouts/FullScreenLayout.astro';

const title = 'Houdini Paint 1 - Checkerboard';
let color1 = '#00FFFF'; // cyan
let color2 = '#FF69B4'; // hotpink
---

<FullScreenLayout title={title}>

	<div id="controls">
	<label for="color1">Color 1</label>
	<input type="color" value={color1} id="color1" oninput="container.style.setProperty('--color-1', this.value)"/>

	<label for="color2">Color 2</label>
	<input type="color" value={color2} id="color2" oninput="container.style.setProperty('--color-2', this.value)" />

	<label for="size">Size</label>
		<input type="range" min="5" max="200" value="30" id="color2" oninput="container.style.setProperty('--square-dimension', this.value)" />
	</div>

	<div class="container" id="container"></div>
</FullScreenLayout>

<style>
#controls {
	visibility: hidden;
}
	.container {
		--color-1: cyan;
		--color-2: hotpink;
		--square-dimension: 30;


		width: 100%;
		height: 100vh;
		position: relative;
		/* background: paint(checkerboard); */

		background: repeating-conic-gradient(var(--color-1) 0% 25%, var(--color-2) 0% 50%)
              50% / calc(var(--square-dimension) * 2px) calc(var(--square-dimension) * 2px);


	}

	@supports (background: paint(checkerboard)) {
		.container {
			background: paint(checkerboard);
		}
	}
</style>




<script>
if ('paintWorklet' in CSS) {
	console.log('supports paintWorklet')
	CSS.paintWorklet.addModule('/js/houdini-paint-1.js');
} else {
	console.log("doesn't support paintWorklet")
}

(function() {
	// once the javascript is ready, show the controls
	controls.style.visibility = 'visible';
})();
</script>
