---
// Component Imports
import FullScreenLayout from '../../layouts/FullScreenLayout.astro';

const title = 'Demos';
---

<FullScreenLayout title={title}>
	<div class="container">
		<ul>
			<li><a href="/demos/canvas-1">Canvas 1</a></li>
			<li><a href="/demos/canvas-2">Canvas 2</a></li>
			<li><a href="/demos/canvas-3">Canvas 3</a></li>
		</ul>
	</div>
</FullScreenLayout>


