---
// Component Imports
import DefaultLayout from '../../layouts/DefaultLayout.astro';

const title = 'Demos';
---

<DefaultLayout title={title}>
	<div class="container">
		<ul>
			<li><a href="/demos/canvas-1">Canvas 1</a></li>
			<li><a href="/demos/canvas-2">Canvas 2</a></li>
			<li><a href="/demos/canvas-3">Canvas 3</a></li>
			<li><a href="/demos/canvas-4">Canvas 4</a></li>
		</ul>
	</div>
</DefaultLayout>


