---
// Component Imports
import DefaultLayout from '../../layouts/DefaultLayout.astro';

const title = 'Demos';
---

<DefaultLayout title={title}>
	<div class="container">
		<h2>Canvas Demos</h2>
		<ol>
			<li><a href="/demos/canvas-1">Canvas 1 - Drawing Rectangles</a></li>
			<li><a href="/demos/canvas-2">Canvas 2 - drawing circles</a></li>
			<li><a href="/demos/canvas-3">Canvas 3 - animating circle around other circle</a></li>
			<li><a href="/demos/canvas-4">Canvas 4 - some random squares</a></li>
			<li><a href="/demos/canvas-5">Canvas 5 - some random circles</a></li>
			<li><a href="/demos/canvas-6">Canvas 6 - click on canvas</a></li>
			<li><a href="/demos/canvas-7">Canvas 7 - Spirograph pt.1</a></li>
			<li><a href="/demos/canvas-8">Canvas 8 - Spirograph pt.2</a></li>
			<li><a href="/demos/canvas-9">Canvas 9 - Zigzag</a></li>
		</ol>

		<h2>Houdini Paint Demos</h2>
		<ol>
			<li><a href="/demos/houdini-paint-1">Houdini 1 - Checkerboard</a></li>
			<li><a href="/demos/houdini-paint-2">Houdini 2 - Zigzag</a></li>
		</ol>

		<h2>Window Postmessaging</h2>
		<ol>
			<li><a href="/demos/talk-to-window-parent">Talk to Window</a></li>
		</ol>
	</div>
</DefaultLayout>


