---
// Component Imports
import DefaultLayout from '../../layouts/DefaultLayout.astro';

const title = 'Demos';
---

<DefaultLayout title={title}>
	<div class="container">
		<h2>Canvas Demos</h2>
		<ol>
			<li><a href="/demos/canvas-1">Canvas 1 - Drawing Rectangles</a></li>
			<li><a href="/demos/canvas-2">Canvas 2 - drawing circles</a></li>
			<li><a href="/demos/canvas-3">Canvas 3 - animating circle around other circle</a></li>
			<li><a href="/demos/canvas-4">Canvas 4 - some random squares</a></li>
			<li><a href="/demos/canvas-5">Canvas 5 - some random circles</a></li>
			<li><a href="/demos/canvas-6">Canvas 6 - click on canvas</a></li>
			<li><a href="/demos/canvas-7">Canvas 7 - Spirograph pt.1</a></li>
		</ol>
	</div>
</DefaultLayout>


