---
// Web component imports
import { MyElement } from "../../web-components/my-element.js";
import { AHButton } from "../../web-components/ah-button.js";

// Component Imports
import FullScreenLayout from "../../layouts/FullScreenLayout.astro";

const title = "Web Components 1 - Test";
---

<FullScreenLayout title={title}>
  <div class="container">
    <MyElement client:visible />
    <AHButton client:visible>I am button</AHButton>
  </div>
</FullScreenLayout>
