---
interface Props {
    language: string;
    level: 1 | 2 | 3 | 4 | 5;
    levelText: string;
}
const { language, levelText, level } = Astro.props;
---

<div class="wrapper">
    <div>
        <h3>{language}</h3>
        <h4>{levelText}</h4>
    </div>

    <ul>
        {
            Array(5)
                .fill(0)
                .map((_, index) => (
                    <li class={level - 1 >= index ? "active" : ""} />
                ))
        }
    </ul>
</div>

<style>
    .wrapper {
        --dot-dimension: 1.25rem;
        --dot-gap: 0.5rem;
        --dot-color-fallback: var(--lightergrey);
        --dot-color-active: var(--theme-accent);

        display: grid;
        grid-template-columns: 1fr calc(
                calc(var(--dot-dimension) * 5) + calc(var(--dot-gap) * 4)
            );
        align-items: center;
        padding-inline-end: 1.2rem;
    }

    .wrapper h3, /* need to be more specific to override the default styles */
    h4 {
        margin: 0;
        font-size: 14px;
    }

    h4 {
        font-weight: normal;
    }

    ul {
        display: flex;
        margin-left: auto;
    }

    li {
        list-style-type: none;
        height: var(--dot-dimension);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--dot-color-fallback);

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    .active {
        background-color: var(--dot-color-active);
    }
</style>
