---
import type { Language } from "@pages/cv/content";

interface Props extends Language {}
const { language, levelText, level } = Astro.props;
---

<div class="language-gauge">
    <div>
        <h3>{language}</h3>
        <h4>{levelText}</h4>
    </div>

    <ul class="star cp">
        {
            Array(5)
                .fill(0)
                .map((_, index) => (
                    <li
                        class={`${level - 1 >= index ? "active" : ""}`}
                    />
                ))
        }
    </ul>

</div>


<style is:global>
@scope (.language-gauge) {
    --dot-dimension: 1.25rem;
    --dot-gap: 0.5rem;
    --dot-color-fallback: var(--lightergrey);
    --dot-color-active: var(--theme-accent);

        display: grid;
        grid-template-columns: 1fr calc(
                calc(var(--dot-dimension) * 5) +
                    calc(var(--dot-gap) * 4)
            );
        align-items: center;


    h3, /* need to be more specific to override the default styles */
    h4 {
        margin: 0;
        font-size: 14px;
    }

    h4 {
        font-weight: normal;
    }

    ul {
        display: flex;
        margin-left: auto;
        padding-inline-start: 0;
    }

    li {
        list-style-type: none;
        height: var(--dot-dimension);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--dot-color-fallback);

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    .cp li {
        border-radius: 0;
        clip-path: var(--clip-path);
    }

    .active {
        background-color: var(--dot-color-active);
    }

    .star {
        --clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
        );
    }

    .octagon {
        --clip-path: polygon(
            30% 0%,
            70% 0%,
            100% 30%,
            100% 70%,
            70% 100%,
            30% 100%,
            0% 70%,
            0% 30%
        );
    }

    .right-arrow {
        --clip-path: polygon(
            0% 20%,
            60% 20%,
            60% 0%,
            100% 50%,
            60% 100%,
            60% 80%,
            0% 80%
        );
    }
}
></style>
