---
import ExternalLink from "@components/Global/ExternalLink.astro";

interface Props {
	links: any[];
    hideDash?: boolean;
}
const { links, hideDash = false } = Astro.props;
---

<ul class="cv-portfolio-list">
    {
        links.map((link) => (
            <li>
                <ExternalLink href={link.href} data-url={link.shortLink}>
                    {link.name}
                </ExternalLink>{" "}
                {!hideDash && "- "}{link.description}
            </li>
        ))
    }
</ul>

<style></style>
