---
interface Props {
	src: string;
	alt: string;
	themeColorKey: string;
    dimension: number;
}
const { src, alt, dimension = 100 } = Astro.props;
---

<div class="settings-toggler">
    <img {src} {alt} height={dimension} width={dimension} />
</div>

<style>
    img {
        display: block;
        border-radius: 50%;
    }
    @media print {
        img {
            filter: none !important;
        }
    }
</style>
