---
interface Props {
	src: string;
	alt: string;
	themeColorKey: string;
}
const { src, alt } = Astro.props;
---

<div class="wrapper">
    <img {src} {alt} height="100" width="100" />
</div>

<style>
    img {
        display: block;
        border-radius: 50%;
    }

    @media print {
        img {
            filter: none !important;
        }
    }
</style>
