---
// import LanguageSwitcher from "@components/Nav/LanguageSwitcher.astro";

interface Props {
	src: string;
	alt: string;
	dimension?: number;
}
const { src, alt, dimension = 100 } = Astro.props;
---

<div class="settings-toggler">
    <img {src} {alt} height={dimension} width={dimension} />
    <!-- <LanguageSwitcher /> -->
</div>

<style>
    .settings-toggler {
        margin-inline-start: auto;
    }
    img {
        anchor-name: --me;
        border-radius: 50%;
        display: block;
    }

    :global(.language-switcher) {
        position: fixed;
        position-anchor: --me;
        position-area: bottom;
        z-index: 1;
        inset: 40px 0;
    }

    @media print {
        img {
            filter: none !important;
        }
    }
</style>
