---
import type { SocialLink } from "@pages/cv/content";

interface Props {
    links: Array<SocialLink>;
}
const { links } = Astro.props;
---

{
    links.map((link) => (
        <li class="social-link">
            <a href={link.href} data-url={link.shortLink}>
                <span>{link.name}</span>
                <span>{link.shortLink}</span>
            </a>
        </li>
    ))
}

<style is:global>
    @scope (.social-link) {
        span:nth-child(2) {
            font-size: 90%;
            color: var(--lightgrey);
        }
    }
</style>
