---
import BlogPostPreview from "@components/Blog/BlogPostPreview.astro";
import {
	type Collection,
	getSomePosts,
} from "@components/Blog/utils/getAllPosts";
const isFrench = Astro.currentLocale === 'fr';


interface Props {
  number: number;
}
// Take 10 latest posts for the moment until I learn how to do pagination with Astro!

interface Props {
	number: number;
	collection?: Collection;
}

const { number = 9, collection = 'blog' } = Astro.props

const posts = await getSomePosts(collection, number);
---
{
	posts.length > 0 ? posts.map(
		(post) => <BlogPostPreview postIndex={post.postIndex} post={post} collection={collection} />
	) : (
		<div>{isFrench ? "Aucun article publié sur le" : "No Posts in"} {collection}</div>
	)
}