---
import DefaultLayout from '../layouts/DefaultLayout.astro';

const title = '404';
---
<DefaultLayout title={title} language="fr">
	<p>Page cannot be found</p>
</DefaultLayout>

<style>
body {
	--theme-accent: #ea3c3c;
}
</style>
