---
import DefaultLayout from '@layouts/DefaultLayout.astro';

const copy = {
	en: {
		title: '404',
		message: 'Page cannot be found',
	},
	fr: {
		title: '404',
		message: 'Page non trouvée',
	},
};

const {title, message} = copy[Astro.currentLocale];
---

<DefaultLayout title={title}>
	<p>{message}</p>
</DefaultLayout>

<style>
body {
	--theme-accent: #ea3c3c;
}
</style>
