---
import DefaultLayout from "@layouts/DefaultLayout.astro";

const title = "About";
---

<DefaultLayout title={title} accent="#623cea">
    <p>
        Hi there! I'm Andrew and I'm a software engineer. I live in Grenoble,
        France with my wife and two kids.

    <p>I love being in the outdoors running, cycling, skiing and hiking (the muddier and the
        further the better), reading and learning, watching the cycling on TV
        and going on long country walks, playing with the kids, and seeing
        family.
    </p>
</DefaultLayout>
