---
import BookshelfLayout from "@layouts/BookshelfLayout.astro";

const title = 'Bookshelf'
---
<BookshelfLayout title={title}>
  <details open>
    <summary>introduction</summary>
    <p>
      I store the books that I am reading and have read in Notion. I am using
      this page to display the books that I have read and the month that I
      finished reading them.
    </p>
  </details>
</BookshelfLayout>  

<style>
  p {
    margin-block-end: 3rem;
  }
</style>