---
import { Temporal } from "@js-temporal/polyfill";
import DefaultLayout from "@layouts/DefaultLayout.astro";
import Bookcase from "src/components/Svelte/Bookcase.svelte";
import { getBooks } from "src/utils/getBooksFromNotion";

const title = "Bookshelf";

const allBooks = await getBooks();
const books = allBooks
	.filter(({ finishedDate }: { finishedDate: string }) => {
		return finishedDate !== '';
	})
	.sort(
		(a: any, b: any) => {
      const aDate = a.finishedDate;
      const bDate = b.finishedDate;

      return Temporal.PlainDate.compare(bDate, aDate);
    }
	);
---

<DefaultLayout title={title} accent="oklch(0.52 0.12 189.58)">
  <details>
    <summary>introduction</summary>
    <p>
      I store the books that I am reading and have read in Notion. I am using
      this page to display the books that I have read and the month that I
      finished reading them.
    </p>
  </details>

  <Bookcase client:visible books={books} />
</DefaultLayout>

<style>
  p {
    margin-block-end: 3rem;
  }
</style>
