---
// Component Imports
import DefaultLayout from '../layouts/DefaultLayout.astro';

let title = 'Homepage';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<DefaultLayout title={title}>
  <p>Hello there :wave: I am Andrew and I am a front-end software engineer who lives in the UK.</p>
</DefaultLayout>
