---
import BlogPostList from "@components/Blog/utils/blogPostList.astro";
import ForwardArrow from "@components/Global/ForwardArrow.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";

const themeAccent = "oklch(0.68 0.25 38.61)";
---

<DefaultLayout title="" accent={themeAccent} isHomepage>
    <div class="inner">
        <div class="intro">
            <p>
                I'm Andrew and I am a senior front-end software
                engineer based in Grenoble, France.
            </p>

            <p>
                This site was created with Zed and strong black
                coffee, with Astro as the framework of choice with a
                bit of Svelte (for the bookshelf) but mostly vanilla
                html and css using markdown to write the blog posts
                and articles.
            </p>
        </div>
    </div>

    <div class="posts">
        <h2>Latest Blog Posts</h2>

        <BlogPostList number={9} />

        <ForwardArrow url="/blog/2" title="See more posts" />
    </div>
</DefaultLayout>

<style>

    h2 {
        padding-block-end: calc(var(--column-gap-size) * 1);
    }
    .posts {
        padding-block: calc(var(--column-gap-size) * 2);
        display: grid;
        grid-column: center;
    }

    .intro {
        padding-block-end: calc(var(--column-gap-size) * 2);
        grid-template-columns: subgrid;
        grid-column: 3 / span 3;
    }
</style>
