---
import GroupedBlogPostList from "@components/Blog/utils/groupedBlogPostList.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout title="">
    <div class="intro">
        <p>
            I'm Andrew and I am a senior front-end software
            engineer based in Grenoble, France.
        </p>

        <p>
            This site was created with Zed and strong black
            coffee, with Astro as the framework of choice with a
            bit of Svelte (for the bookshelf) but mostly vanilla
            html and css using markdown to write the blog posts
            and articles.
        </p>
    </div>

    <div class="blog-post-list">
        <h1>Latest Blog Posts</h1>
        <GroupedBlogPostList />

    </div>
</DefaultLayout>

<style is:global>
    @scope (.blog-post-list) {
        > h2 {
            position: sticky;
            z-index: 1;
            background: var(--theme-background);
            top: 0;
        }
    }
</style>
