---
import BlogPostList from "@components/Blog/utils/blogPostList.astro";
import ForwardArrow from "@components/Global/ForwardArrow.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout title="">
    <div class="intro">
        <p>
            I'm Andrew and I am a senior front-end software
            engineer based in Grenoble, France.
        </p>

        <p>
            This site was created with Zed and strong black
            coffee, with Astro as the framework of choice with a
            bit of Svelte (for the bookshelf) but mostly vanilla
            html and css using markdown to write the blog posts
            and articles.
        </p>
    </div>

    <div class="blog-post-list">
        <h1>Latest Blog Posts</h1>
        <BlogPostList number={9} />

        <ForwardArrow url="/blog/2" title="See more posts" />
    </div>
</DefaultLayout>

<style>
    .blog-post-list {
        margin-block-start: 3rem;
    }

    .intro {
        max-width: 80ch;
    }
</style>
