---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const title = "Now";
---

<DefaultLayout title={title}>
  <div class="container">
    <p class="now-intro">Last updated: 01 August 2024.</p>

    <h2>Life</h2>

    We're going to move to Grenoble, France in mid-August. Super excited and a
    huge change. Counting down the days but savouring them while we are still
    here in the UK. Less than 3 weeks now until we go.

    <h2>Learning</h2>

    <p>
      I am learning French again. Using DuoLingo. Currently on the 100 day
      streak marker.
    </p>

    <p>
      Currently in the process of converting this site into a dual-lingual site
      now that Astro supports i18n (localisation) better.
    </p>

    <h3>Reading</h3>

    <p>
      I am reading a lot less lately. Much sport is on and we are preparing to
      move country so there is a lot less time to dedicate to reading.
    </p>

    <h2>Fitness</h2>

    <p>
      Have started running again. Started using the standing desk again and have
      bought a standing mat to make standing up for periods of time more
      comfortable. Strengthening the calf muscles. Going for more walks in the
      morning or at lunch time. Now that the days are longer and slightly warmer
      this is more achieveable. Trying to do Zwift once a week.
    </p>

    <h2>Job</h2>

    <p>
      I have resigned my job as my company were incapable of employing me in
      France (French tax laws require your company to have an office in France).
    </p>

    <!-- <h2>Family</h2>
    <p>
      Emma is almost 6 and Arthur is 9. Both busy with school and out of school.
    </p> -->

    <p>
      Credit for now page: first seen on <a href="https://sivers.org/now"
        >Derek Sivers now page</a
      >
    </p>
  </div>
</DefaultLayout>

<style>
  body {
    --theme-accent: #fa7e61;
  }

  .now-intro {
    font-size: 95%;

    & + h2 {
      margin-block-start: 2rem;
    }
  }

  ul {
    margin-block: 1rem;
    padding-inline-start: 1.5rem;
  }
</style>
