---
// Component Imports
import DefaultLayout from '../layouts/DefaultLayout.astro';



// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

const title = 'Now';
---

<DefaultLayout title={title}>
	<div class="container">
		<p class="now-intro">Last updated: 25 August 2023.</p>

		<h2>Life</h2>
		<p>Earlier in the summer we holidayed in the French Alps, which was super amazing and we did a lot of hiking and enjoyed being in the mountains, spending a week in Chamonix and two weeks in Les Gets.</p>

		<p>Now the summer is almost over, Bunk Fest has come and gone and gone and currently a end of summer heatwave is currently here.</p>

		<h2>Learning</h2>
		<p>All about the new CSS features that are coming or have arrived in Browsers. Also learning more and more about Jest and testing and as I have recently started a new job about the codebase there.</p>

		<h2>Fitness</h2>
		<p>Walking and Mountain Biking. Had a hietus away from Zwift but now that September is here I have started doing that again. Trying to get out walking during the day, a few times to break up the day and to get some fresh air and let the mind wander away from the keyboard</p>

		<h2>Family</h2>
		<p>Emma and Arthur have today just gone back to School and have moved up a year. Emma is fascinated with Art and creating things, Arthur is into sport of all kinds and also practicing solving the Rubik's Cube after learning together how to solve it with me.</p>


		<p>Credit for now page: first seen on <a href="https://sivers.org/now">Derek Sivers now page</a></p>
	</div>
</DefaultLayout>

<style>
body {
	--theme-accent: #FA7E61;
}

.now-intro {
	font-size: 95%;

	& + h2 {
		margin-top: 2rem;
	}
}

</style>
