---
import ExternalLink from '@components/Global/ExternalLink.astro'
import DefaultLayout from '@layouts/DefaultLayout.astro';

import dayjs from 'dayjs';

const title = 'Now'
const lastUpdated = '08/11/2024';
---

<DefaultLayout title={title}>
  <div class="container">

    <p class="intro">After upping our lives and moving country to live in Grenoble in August we've now been here for almost three months. I am studying French and looking for a new job. Marion started her new job and our children started International school. It would be a lie to say that everything is perfect but living here in the heart of the french alps we have just to look at the horizon or take a short car journey and be in the middle of nature.</p>

    <p><strong>Learning</strong></p>

    <p>
      I am learning French. Currently I am having twice-weekly classes at the Alliance Française here in Grenoble. Suplementing this is my continued Duolingo use. I've just passed 200 days streak. This morning I started listening to some French podcasts and regularly watch French TV in the evening.
    </p>

    <p><strong>Side project I am currently working on:</strong></p>

    <p>
      This month's side project is a french verb learning tool. The first
      current step is getting the source data by scraping a collection of verbs
      online. The next steps will be to display all of this scraped data,
      followed by devising a tool to test my knowledge of the verbs in the
      collection.
    </p>

    <p><strong>Reading</strong></p>

    <p>
      The last few weeks I have read quite a number of books. Living in France means that English books are either unavailable or much more expensive which has meant that so far I have been reading books that I had already bought when we lived in England. For my birthday I was given a number of books and I have almost finished all of them. I would like to start reading in French as well and I am on the lookout for my first French book to read (actually I know which one - Le Petit Prince - its here in the house somewhere but heavens knows where!)
    </p>

    <p><strong>Fitness</strong></p>

    <p>
      Have started running again. Started using the standing desk again and have
      bought a standing mat to make standing up for periods of time more
      comfortable. Strengthening the calf muscles. Going for more walks in the
      morning or at lunch time. Now that the days are longer and slightly warmer
      this is more achieveable. Trying to do Zwift once a week.
    </p>

    <p><strong>Job</strong></p>

    <p>
      After moving to France I am currently looking for a new job (I had to resign from my previous job as my company were incapable of employing me in
      France due to French tax laws). I am using the time also to re-consider which industries I would like to work and what I would like to be doing. 
    </p>

    <p><strong>Family</strong></p>
    <p>
       Our children are in international school here which means they get 4 hours a week in English with the rest being in French. Emma is struggling a lot to settle in, especially to make friends and with the school work. Arthur is finding it easier. Emma does art once a week and Arthur plays hockey. We go hiking in the countryside as a family on Sundays. 
    </p>

    <footer>
      <p>Last updated: {dayjs(lastUpdated).format('MM.DD.YYYY')}.</p>

      <p>
        Credit for now page: first seen on <ExternalLink href="https://sivers.org/now"
          >Derek Sivers now page</ExternalLink>
      </p>
    </footer>
  </div>
</DefaultLayout>

<style>
  body {
    --theme-accent: #fa7e61;
  }

  footer {
    background: hsl(from black h s l / 0.05);
    padding: 1rem;
    margin-block: 3rem;
    gap: 0.5rem;
    display: grid;

    p {
      font-size: 90%;
      margin: 0;
    }

    a {
      text-decoration: underline;
    }
  }

  ul {
    margin-block: 1rem;
    padding-inline-start: 1.5rem;
  }

  p {
    max-width: unset;
  }

  .intro {
    font-size: 110%;
    line-height: 1.5;
    font-weight: 555;
    margin-bottom: 2rem;
    padding: 1em;
    background: oklch(from var(--theme-accent) l calc(c + 0.1) calc(h + 15) / 0.25);
    border-left: 0.5em solid;
    border-color: oklch(from var(--theme-accent) l calc(c + 0.1) calc(h + 15) / 0.25);
    
  }
</style>
