---
// Component Imports
import DefaultLayout from '../layouts/DefaultLayout.astro';



// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

const title = 'Now';
---

<DefaultLayout title={title}>
	<div class="container">
		<p class="intro">Last updated: 03 February 2022.</p>

		<h2>Life</h2>
		<p>Covid continues. Went to France to see Marion's family for Christmas. Aside from all of the covid-19 testing it was great to get away and to see family. Much food was eaten and rest was had.</p>

		<p>For New Year we rented a holiday cottage in West Wittering with my side of the family. Much food was eaten and rest was had. On New Years Day we had a swim in the sea.</p>

		<h2>Learning</h2>
		<p>Over the Christmas break I managed to do a lot of reading ("The Manager's Path" and started "Staff Engineer"), plus some coding. I am interested lately in learning about React Native so I am working my way through a course on Frontend Masters. On the CSS front I am fascinated by all of the new CSS features that are coming especially container queries.</p>

		<h2>Fitness</h2>
		<p>Mostly mountain biking and walking at the moment. Once the Covid situation is a bit better I will go to the gym again.</p>

		<h2>Family</h2>
		<p>It was great to spend lots of time with the family over Christmas. Arthur continues to love Lego, solving puzzles and is very creative. Emma is developing rapidly and has a very strong (stubborn) personality, and Emma loves unicorns, princesses and making house, and drawing. Both Arthur and Emma love playing together which is great too. Marion has been super busy with her job and does a fair bit of running.</p>


		<p>Credit for now page: first seen on <a href="https://sivers.org/now">Derek Sivers now page</a></p>
	</div>
</DefaultLayout>

<style lang="scss">
body {
	--theme-accent: #FA7E61;
}

.container {
	:global(.intro) {
		& + h2 {
			margin-top: 2rem;
		}
	}
}

.intro {
	font-size: 95%;
}

</style>
