---
import ExternalLink from '@components/Global/ExternalLink.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'

import dayjs from 'dayjs';

const title = 'Now'
const lastUpdated = '03/12/2024';
---

<DefaultLayout title={title}>
  <div class="container">

    <p class="intro">After upping our lives and moving country to live in Grenoble in August we've now been here for almost three months. I am studying French and looking for a new job. Marion started her new job and our children started International school. It would be a lie to say that everything is perfect but living here in the heart of the french alps we have just to look at the horizon or take a short car journey and be in the middle of nature.</p>

    <p><strong>Learning</strong></p>

    <p>
      I am learning French. I have just finished a course at the Alliance Française here in Grenoble. Suplementing this is my continued Duolingo use. I've just passed 225 days streak. I am working my way through "Le Petit Prince" in French.
    </p>

    <p><strong>Side project I am currently working on:</strong></p>

    <p>
      As it is December I am doing Advent of Code. I am tracking my code in 
    </p>

    <p><strong>Reading</strong></p>

    <p>
      Just started reading "Intermezzo" by Sally Rooney and just finished “An Italian Education” by Tim Parks. Also reading "Le Petit Prince" in French.
    </p>

    <p><strong>Fitness</strong></p>

    <p>
      Zwifting once or twice a week, running once or twice. Yesterday I made excellent use of the fantastic weather to do an epic road ride with 1500m+ d+ in 82km <ExternalLink href="https://www.strava.com/activities/13030100828">"Deeper into the Vercors"</ExternalLink>. I have also been doing plenty of walking and on Sunday we went to Autrans in the Vercors for our weekly family hike.
    </p>

    <!-- <p><strong>Job</strong></p>

    <p>
      Heavily applying for jobs. 
    </p>

    <p><strong>Family</strong></p>
    <p>
       Our children are in international school here which means they get 4 hours a week in English with the rest being in French. Emma is struggling a lot to settle in, especially to make friends and with the school work. Arthur is finding it easier. Emma does art once a week and Arthur plays hockey. We go hiking in the countryside as a family on Sundays. 
    </p> -->

    <footer>
      <p>Last updated: {dayjs(lastUpdated).format('MM.DD.YYYY')}.</p>

      <p>
        Credit for now page: first seen on <ExternalLink href="https://sivers.org/now"
          >Derek Sivers now page</ExternalLink>
      </p>
    </footer>
  </div>
</DefaultLayout>

<style>
  body {
    --theme-accent: #fa7e61;
  }

  footer {
    background: hsl(from black h s l / 0.05);
    padding: 1rem;
    margin-block: 3rem;
    gap: 0.5rem;
    display: grid;

    p {
      font-size: 90%;
      margin: 0;
    }

    a {
      text-decoration: underline;
    }
  }

  ul {
    margin-block: 1rem;
    padding-inline-start: 1.5rem;
  }

  p {
    max-width: unset;
  }

  .intro {
    font-size: 110%;
    line-height: 1.5;
    font-weight: 555;
    margin-bottom: 2rem;
    padding: 1em;
    background: oklch(from var(--theme-accent) l calc(c + 0.1) calc(h + 15) / 0.25);
    border-left: 0.5em solid;
    border-color: oklch(from var(--theme-accent) l calc(c + 0.1) calc(h + 15) / 0.25);
    
  }
</style>
