---
// Component Imports
import DefaultLayout from '../layouts/DefaultLayout.astro';



import {Markdown} from 'astro/components';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

const title = 'Now';
---

<DefaultLayout title={title}>
<link rel="stylesheet" href={Astro.resolve('../css/now.css')} />
	<div class="container">
	<Markdown>
		Last updated: 03 February 2022.

		## Life
		Covid continues. Went to France to see Marion's family for Christmas. Lots of Covid tests were done. Before travel to France, after travel to France, before travel to England, after travel to England. Also one of the people we came into contact with tested positive a number of days after we met them so another test for us (all tests were negative, fortunately). After all of this testing it was a good Christmas and New Year break, much food was eaten and rest.

		## Learning
		Over the Christmas break I managed to do a lot of reading ("The Manager's Path" and started "Staff Engineer"), plus some coding. I am interested lately in learning about React Native so I am working my way through a course on Frontend Masters.

		## Fitness
		Mostly mountain biking and walking at the moment. Once the Covid situation is a bit better I will go to the gym again.

		## Family
		It was great to spend lots of time with the family over Christmas. Arthur continues to love Lego, solving puzzles and is very creative. Emma is developing rapidly and has a very strong (stubborn) personality, and Emma loves unicorns, princesses and making house, and drawing. Both Arthur and Emma love playing together which is great too. Marion has been super busy with her job and does a fair bit of running.


		Credit for now page: first seen on [Derek Sivers now page](https://sivers.org/now)
	</Markdown>
	</div>
</DefaultLayout>

<script>
if ('paintWorklet' in CSS) {
	console.log('supports paintWorklet')
	CSS.paintWorklet.addModule('/js/paint.js');
} else {
	console.log("doesn't support paintWorklet")
}
</script>
