---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const title = 'Now'
---

<DefaultLayout title={title}>
  <div class="container">
    <p><strong>Life</strong></p>

    We're going to move to Grenoble, France in mid-August. Super excited and a
    huge change. Counting down the days but savouring them while we are still
    here in the UK. Less than 3 weeks now until we go.

    <p><strong>Learning</strong></p>

    <p>
      I am learning French again. Using DuoLingo. Currently on the 100 day
      streak marker.
    </p>

    <p><strong>Side project I am currently working on:</strong></p>

    <p>
      This month's side project is a french verb learning tool. The first
      current step is getting the source data by scraping a collection of verbs
      online. The next steps will be to display all of this scraped data,
      followed by devising a tool to test my knowledge of the verbs in the
      collection.
    </p>

    <p><strong>Reading</strong></p>

    <p>
      The first half of the year I read quite a lot of books but recently the
      frequency of books has dramatically dropped. This is due to many reasons
      including: sport (Olympics, Tour de France, Euro 2024, etc), preparing to
      move to France and saying goodbye to friends, family (and doing stuff
      necessary to move to another country), and the
    </p>

    <p><strong>Fitness</strong></p>

    <p>
      Have started running again. Started using the standing desk again and have
      bought a standing mat to make standing up for periods of time more
      comfortable. Strengthening the calf muscles. Going for more walks in the
      morning or at lunch time. Now that the days are longer and slightly warmer
      this is more achieveable. Trying to do Zwift once a week.
    </p>

    <p><strong>Job</strong></p>

    <p>
      I have resigned my job as my company were incapable of employing me in
      France (French tax laws require your company to have an office in France).
    </p>

    <!-- <p>Family</p>
    <p>
      Emma is almost 6 and Arthur is 9. Both busy with school and out of school.
    </p> -->

    <footer>
      <p>Last updated: 01 August 2024.</p>

      <p>
        Credit for now page: first seen on <a href="https://sivers.org/now"
          >Derek Sivers now page</a
        >
      </p>
    </footer>
  </div>
</DefaultLayout>

<style>
  body {
    --theme-accent: #fa7e61;
  }

  footer {
    background: hsl(from black h s l / 0.05);
    padding: 1rem;
    margin-block-start: 3rem;
    gap: 0.5rem;
    display: grid;

    p {
      font-size: 90%;
      margin: 0;
    }

    a {
      text-decoration: underline;
    }
  }

  ul {
    margin-block: 1rem;
    padding-inline-start: 1.5rem;
  }

  p {
    max-width: unset;
  }
</style>
