---
import DefaultLayout from '../layouts/DefaultLayout.astro';

const title = 'Now';
---

<DefaultLayout title={title}>
	<div class="container">
		<p class="now-intro">Last updated: 01 March 2024.</p>

		<h2>Life</h2>

		<p>...</p>

		<h2>Learning</h2>

		<p>...</p>
		
		<h3>Reading</h3>

		<p>I am reading a lot. I set myself the target of reading 40 books this year and so far I am at 11 after two months. </p>

		<p>Here are the books I have read so far:</p>

		<ul>
			<li>“Early Riser” by Jasper Fforde</li>
<li>“Snow Country” by Sebastian Faulks</li>
<li>“The Freedom Artist” by Ben Okri</li>
<li>“A Line in the World: A Year on the North Sea Coast” by Dorthe Nors</li>
<li>“Utopia Avenue” by David Mitchell</li>
<li>“438 Days” by Jonathan Franklin</li>
<li>“The Man Who Saw Everything” by Deborah Levy</li>
<li>“Lessons” by Ian McEwan</li>
<li>“The Premonition” by Banana Yoshimoto</li>
<li>“Greek Lessons” by Han Kang</li>
<li>“Harry Potter and the Philosopher's Stone” by J K Rowling</li>
		</ul>
		

		<h2>Fitness</h2>
		
		<p>...</p>

		<h2>Family</h2>
		<p>Emma is almost 6 and Arthur has just turned 9.</p>


		<p>Credit for now page: first seen on <a href="https://sivers.org/now">Derek Sivers now page</a></p>
	</div>
</DefaultLayout>

<style>
body {
	--theme-accent: #FA7E61;
}

.now-intro {
	font-size: 95%;

	& + h2 {
		margin-block-start: 2rem;
	}
}

ul {
	margin-block: 1rem;
	padding-inline-start: 1.5rem;
}

</style>
