---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const title = "Offline";
---

<DefaultLayout title={title} accent="#623cea">
    <p>
        You are currently offline. Please re-connect to the internets and see
        the rest of the site again.
    </p>
</DefaultLayout>
