---
// Component Imports
import DefaultLayout from '../layouts/DefaultLayout.astro';



// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

const title = 'Tools I use';
---

<DefaultLayout title={title}>
	<div class="container">
        <h3>Social Media</h3>
		<p>For excellent code screenshots for sharing on social media I use <a href="https://app.codeimage.dev/">codeimage</a></p>
	</div>
</DefaultLayout>

<style lang="scss">
body {
	--theme-accent: oklch(0.59 0.31 309.65);
}

.container {
	:global(.intro) {
		& + h2 {
			margin-top: 2rem;
		}
	}
}
</style>
