---
// Component Imports
import DefaultLayout from "@layouts/DefaultLayout.astro";
const title = "Experiments";
---

<style>
  body {
    --theme-accent: #52b788;
  }
</style>

<DefaultLayout title={title}>
  <div class="container">
          <h2>Canvas experiments</h2>
    <ol>
      <li>
        <a href="/experiments/canvas/canvas-1"
          >Canvas 1 - Drawing Rectangles</a
        >
      </li>
      <li>
        <a href="/experiments/canvas/canvas-2"
          >Canvas 2 - drawing circles</a
        >
      </li>
      <li>
        <a href="/experiments/canvas/canvas-3"
          >Canvas 3 - animating circle around other circle</a
        >
      </li>
      <li>
        <a href="/experiments/canvas/canvas-4"
          >Canvas 4 - some random squares</a
        >
      </li>
      <li>
        <a href="/experiments/canvas/canvas-5"
          >Canvas 5 - some random circles</a
        >
      </li>
      <li>
        <a href="/experiments/canvas/canvas-6"
          >Canvas 6 - click on canvas</a
        >
      </li>
      <li>
        <a href="/experiments/canvas/canvas-7"
          >Canvas 7 - Spirograph pt.1</a
        >
      </li>
      <li>
        <a href="/experiments/canvas/canvas-8"
          >Canvas 8 - Spirograph pt.2</a
        >
      </li>
      <li>
        <a href="/experiments/canvas/canvas-9"
          >Canvas 9 - Zigzag</a
        >
      </li>
      <!-- <li><a href="/experiments/canvas/canvas-10">Canvas 10 - Radar</a></li> -->
    </ol>

    <h2>Houdini Paint experiments</h2>
    <ol>
      <li>
        <a href="/experiments/houdini/houdini-paint-1"
          >Houdini 1 - Checkerboard</a
        >
      </li>
      <li>
        <a href="/experiments/houdini/houdini-paint-2"
          >Houdini 2 - Zigzag</a
        >
      </li>
    </ol>

    <h2>Window Postmessaging</h2>
    <ol>
      <li>
        <a
          href="/experiments/talk-to-window/talk-to-window-parent"
          >Talk to Window</a
        >
      </li>
    </ol>

    <h2>:has() (Chrome / Safari / Edge support)</h2>

    <ol>
      <li>
        <a href="/experiments/css-has/css-has-1"
          >:has() css demo</a
        >
      </li>
    </ol>

    <h2>
      Container Queries (Chrome / Safari / Edge support)
    </h2>

    <ol>
      <li>
        <a
          href="/experiments/container-queries/container-queries-1"
          >Container Queries 1</a
        >
      </li>
      <li>
        <a
          href="/experiments/container-queries/style-query"
          >Container Style Queries</a
        >
      </li>
    </ol>

    <h2>Web Components with Lit</h2>

    <ol>
      <li>
        <a
          href="/experiments/web-components/web-components-1"
          >Web Components 1</a
        >
      </li>
    </ol>

    <h2>Vue</h2>

    <ol>
      <li>
        <a
          href="/experiments/vue/introduction"
          >Introduction</a
        >
      </li>
    </ol>

    <h2>View Transitions</h2>

    <ol>
      <li>
        <a
          href="/experiments/view-transitions/1"
          >1</a
        >
      </li>
    </ol>
  </div>
</DefaultLayout>
