---
import dayjs from "dayjs";
import Author from "./Author.astro";
import BackArrow from "./BackArrow.astro";
import BlogContent from "./BlogContent.astro"; 

const { post } = Astro.props;
const { Content } = await post.render();
---

<article class="content post layout-inner">
  <header>
    <p class="publish-date">
      {
        dayjs(post.data.date).format(
          "dddd, DD MMMM YYYY"
        )
      }
    </p>
    <h1 class="title">{post.data.title}</h1>
    <Author
      name="Andrew Hudson"
      href="https://andrewhudson.dev/about"
    />
  </header>
  <BlogContent>
    <Content />
  </BlogContent>

  <BackArrow
    url={"/blog/"}
    title={"Back to all blog posts"}
  />
</article>

<style>
  .content {
    margin-bottom: 8rem;
  }

  .content :global(main > * + *) {
    margin-top: 1rem;
  }

  .content :global(h2) {
    margin-top: 4rem;
  }

  header {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 4px solid var(--theme-divider);
  }

  p, li {
    margin-block-end: 1rem;
  }

  .author,
  .publish-date {
    margin: 0;
  }

  .publish-date,
  .author {
    color: var(--theme-text-lighter);
  }

  .title {
    font-size: 2.25rem;
    margin-block: 1rem;
  } 
</style>
