---
const {reload, clear, width = 800, height = 500} = Astro.props;
---
{reload && <button id="reload">Reload the canvas</button>}
{clear && <button id="clear">Clear the canvas</button>}
<canvas id="canvas" height={height} width={width}>
</canvas>
{reload && (
	<script>
	const reloadButton = document.getElementById('reload');

	reloadButton.addEventListener('click', () => {
		ctx.clearRect(0,0, width, height);
		init();
	});
	</script>
)
}

{clear && (
	<script>
	const clearButton = document.getElementById('clear');

	clearButton.addEventListener('click', () => {
		ctx.clearRect(0,0, width, height);
	});
	</script>
)
}

<style>
button {
	display: block;
}
canvas {
    margin-top: 1em;
	border: 1px solid;
}
</style>

