---
const {
  reload,
  clear,
  width = 800,
  height = 500,
} = Astro.props;
---

{reload && <button id="reload">Reload the canvas</button>}
{clear && <button id="clear">Clear the canvas</button>}
<canvas id="canvas" height={height} width={width}> </canvas>

<style>
  button {
    display: block;
  }
  canvas {
    margin-top: 1em;
    border: 1px solid;
  }
</style>
