---
interface Props {
  url: string;
  title: string;
  isBlog?: string;
}

const { url, title, isBlog = false } = Astro.props;
---

<a href={url}>
  {isBlog ? <>Read more about &ldquo;{title}&rdquo;</> : title} &rarr;
</a>
<style>
  a {
    display: block;
    margin-top: 2rem;
  }
</style>
