---

---
<nav class="layout">
	<ul class="layout-inner">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/cv">CV</a>
		</li>
	</ul>
</nav>

<style>


li {
	display: inline-grid;
	margin-right: 1em;
}

a {
	border-bottom: 2px solid transparent;
}

.active {
	border-bottom-color: orange;
}
</style>
