---
import { CollectionEntry } from "astro:content";

import DefaultLayout from "@layouts/DefaultLayout.astro";
import BlogPostPreview from "@components/Blog/BlogPostPreview.astro";
import ArchiveNav from "@components/Global/ArchiveNav.astro";

import { getAllPosts } from '@components/Blog/utils/getAllPosts';


export async function getStaticPaths({ paginate }) {
  const allPosts = await getAllPosts('weeknotes');

  // Return a paginated collection of paths for all posts
  return paginate(allPosts, { pageSize: 10 });
}



interface Props {
  page: {
    currentPage: number
    data: CollectionEntry<"blog">;
  }
}

const { page } = Astro.props;
---

<DefaultLayout title={`Weeknote Archive Page ${page.currentPage}`}>
  <div class="top-nav">
    <ArchiveNav page={page} />
  </div>

  {page.data.map((p) => <BlogPostPreview post={p} />)}

  <ArchiveNav page={page} />
</DefaultLayout>
<style>
  .top-nav {
    margin-block-end: 2em;
  }
  body {
    --theme-accent: var(--theme-accent-blue);
  }
</style>
