---
import BlogPostList from "@components/Blog/utils/blogPostList.astro";
import ForwardArrow from "@components/Global/ForwardArrow.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";

const title = "Weeknotes";
---

<DefaultLayout title={title}>
  <div class="blog-posts-list">
    <BlogPostList number={9} collection="weeknotes" />
  </div>

  <ForwardArrow url="/weeknotes/2" title="See more weeknotes" />
</DefaultLayout>
