.cv {
	--theme-accent-rgb: 255, 105, 180;
	--theme-accent: rgb(var(--theme-accent-rgb));

	.footer-nav {
		margin-block-start: 3rem;
	}

	li,
	p {
		max-width: unset;
	}

	.contact-name {
		/* display: block; */
		/* font-size: 2rem; */
		font-weight: 900;
		line-height: 1;
		margin-block-end: .75rem;
	}

	h2 {
		border-block-end: 2px solid var(--theme-accent);
		display: inline-block;
	}

	h1 + h2 {
		margin-block-start: 0;
	}

	:is(h2 + h3) {
		margin-block-start: 0;
	}

	article a {
		text-decoration: underline;
	}
}

.content {
	margin-block-start: 2rem;
}

ol,
ul {
	padding-inline-start: 1.5rem;
}

li {
	margin-block-end: 0.25rem;
}

.contact {
	margin-block-end: 2rem;

	* {
		/* font-size: 1rem; */
		display: inline-block;
		margin-right: 1em;
	}

	+ h2 {
		margin-block-start: 0;
	}
}

.entrylist {
	position: relative;
	list-style: none;
	margin-block-end: 3em;
}

.entry__header {
	/* display: flex;
  flex-direction: column; */
}

.entry__time {
	order: -1;

	span {
		display: inline-block;
		margin-inline-start: 0.25rem;
	}
}

.entry__organization,
.entry__time {
	font-size: 0.9rem;
}

.entry__title {
	margin-block: 0.5rem;
	display: inline-block;
}

.entry__time,
.entry__title {
	display: inline-block;
}

.entry__organization {
	margin-block-end: 1rem;
	margin-block-start: 0;
}

.entrylist::after {
	content: "";
	display: block;
	height: calc(100% - 20px);
	width: 1px;
	background: black;
	position: absolute;
	left: 0;
	top: 10px;
}

.entrylist > li {
	position: relative;
	margin-block-end: 1.5rem;
}

.entrylist > li::after {
	--dimension: 10px;

	content: "";
	display: block;
	border-radius: 50%;
	background: var(--theme-accent);
	width: var(--dimension);
	aspect-ratio: 1;
	position: absolute;
	top: 1.25em;
	left: calc(-1.5rem - calc(var(--dimension) / 2));
	z-index: 1;
}

.entry__content ul {
	padding-inline-start: 1.2rem;
	list-style: disc;
}

.cv li::marker {
	color: rgb(from var(--theme-accent) r g b / 0.5);
	font-size: 1.5rem;
}

@media print {
	.cv a {
		color: black;
	}

	.cv ul.skills {
		margin-block-end: 0.5rem;
	}

	.cv .contact {
		margin-block-end: 0;
	}

	astro-dev-toolbar,
	.cv nav,
	.cv header,
	.cv footer {
		display: none;
	}

	.entry__time {
		margin-block-end: 0.3rem;
	}

	.cv {
		/* Hide the external link markers */
		a::after {
			display: none;
		}

		:not(.contact) > a[href]::after {
			content: " (" attr(href) ")";
			word-wrap: break-word;
			font-style: italic;
			font-size: 0.9em;
			white-space: wrap;
			opacity: 0.75;
			display: inline;
			color: #006fc6 !important;
			text-decoration: none !important;
			background-image: none !important;
			text-shadow: none !important;
		}

		h1 {
			margin-block-end: 1rem;
			font-size: 30px;
			display: none;

			/* &::before {
        content: "Andrew Hudson - ";
      } */
		}

		h2 {
			font-size: 28px;
			margin-bottom: 0.5rem;
		}

		h3 {
			order: -1;
			font-size: 24px;
			margin-bottom: 0;
		}

		.p-grid {
			display: grid;
			grid-template-columns: repeat(var(--grid-number, 1), 1fr);
		}

		.p-grid li {
			padding-inline-end: 1.5rem;
		}

		h2 {
			border-bottom-color: inherit;
			margin-block-start: 1rem;
		}

		ul:last-child {
			margin-block-end: 0;
		}

		main {
			padding-block-end: 0;
		}

		li::marker {
			color: inherit;
		}

		article a {
			text-decoration: none;
		}

		h2 {
			border-color: transparent;
		}

		p,
		li {
			max-width: unset;
		}

		p {
			margin-bottom: 0.75rem;
		}
		li,
		p {
			font-size: 16px;
		}

		.entry__organization {
			font-size: unset;
		}

		/* [class^="p-grid"] {
      --grid-number: 1;
    } */
	}

	.entrylist {
		padding-inline-start: 0;
		margin-block-end: 0;
	}

	.entrylist::after,
	.entrylist > li::after {
		display: none;
	}

	.content {
		margin-block-start: 1rem;
	}
}
