.cv {
    .footer-nav {
        margin-block-start: 3rem;
    }

    li,
    p {
        max-width: unset;
    }

    .contact-name {
        display: none;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1;
        margin-block-end: 0.75rem;
    }

    h2 {
        border-block-end: 2px solid var(--theme-accent);
        display: inline-block;
    }

    h1 + h2 {
        margin-block-start: 0;
    }

    :is(h2 + h3) {
        margin-block-start: 0;
    }

    article a {
        text-decoration: underline;
    }
}

.content {
    margin-block-start: 2rem;
}

ol,
ul {
    padding-inline-start: 1.5rem;
}

li {
    margin-block-end: 0.25rem;
}

.contact {
    margin-block-end: 2rem;

    .meta {
        margin-left: auto;
    }

    .meta * {
        margin-right: 1em;

        @container (min-width: 768px) {
            display: inline-block;
        }
    }

    + h2 {
        margin-block-start: 0;
    }
}

.entrylist {
    position: relative;
    list-style: none;
    margin-block-end: 3em;
}

.entry__time {
    order: -1;

    span {
        display: inline-block;
        margin-inline-start: 0.25rem;
    }
}

.entry__organization,
.entry__time {
    font-size: 0.9rem;
}

.entry__title {
    margin-block: 0.5rem;
    display: inline-block;
}

.entry__organization,
.entry__time,
.entry__title {
    display: inline-block;
}

.entry__organization {
    margin-block-end: 1rem;
    margin-block-start: 0;
}

.entrylist::after {
    content: "";
    display: block;
    height: calc(100% - 20px);
    width: 1px;
    background: black;
    position: absolute;
    left: 0;
    top: 10px;
}

.entrylist > li {
    position: relative;
    margin-block-end: 1.5rem;
}

.entrylist > li::after {
    --dimension: 20px;

    content: "";
    display: block;
    border-radius: 50%;
    background: var(--theme-accent);
    width: var(--dimension);
    aspect-ratio: 1;
    position: absolute;
    top: 1.25em;
    left: calc(-1.5rem - calc(var(--dimension) / 2) + 0.5px);
    z-index: 1;
}

.entry__content ul {
    padding-inline-start: 1.2rem;
    list-style: disc;
}

.cv li::marker {
    color: rgb(from var(--theme-accent) r g b / 0.5);
    font-size: 1.5rem;
}

.cv {
    .contact-title {
        display: none;
    }
}

@media print {
    body {
        --print: true;
    }
}

.force-print {
    --print: true;
}

@container style(--print: true) {
    .cv {
        /* This is body padding */
        padding: 1.5em 3em;

        .meta a,
        li,
        p {
            font-size: 14px;
        }

        ol {
            margin-bottom: 0;
            /* padding-bottom: 0; */
        }

        h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
        }

        .contact {
            margin-block-end: 0;
        }

        .cv-social {
            span {
                display: block;
                font-size: 90%;
                color: grey;
            }
        }

        li::marker {
            color: inherit;
            font-size: inherit;
        }

        h2 {
            font-size: 20px;
            text-transform: uppercase;
            /* margin-bottom: 0.3rem; */
        }

        h3 {
            font-size: 18px;
        }

        h1,
        h2,
        h3 {
            display: block;
            max-width: unset;
            font-family: Rubik, Arial, Helvetica, "Noto Sans Devanagari",
                "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew",
                sans-serif;
        }

        h3 {
            margin: 0;
            margin-bottom: 0.25rem;
            padding: 0;
        }

        main {
            display: grid;
            grid-template-columns: calc(66.66% - 2rem) calc(33.32% - 2rem);
            gap: 2rem;
        }

        section {
            /* background: blue; */
        }

        .entry__content {
            margin-top: 0.5rem;
        }

        .p-name,
        .name {
            text-decoration: none;
            font-weight: bold;
        }

        .name {
            color: var(--accent);
            display: block;
            font-size: 16px;
            margin-top: 0.25rem;
        }

        .entry__organization {
            display: block;
            margin-bottom: 0;
            color: var(--accent);
            font-size: 16px;
        }

        .entry__time {
            margin-top: 0;
        }

        .entrylist {
            padding-left: 0;

            > li {
                padding-bottom: 1rem;
                border-bottom: 1px dashed rgb(from var(--accent) r g b / 0.5);
            }

            li::after,
            &::after {
                display: none;
            }
        }

        .contact-name {
            font-size: 36px;
            display: block;
        }

        .contact-title {
            color: var(--accent);
            display: block !important;
            margin-bottom: 0.25rem;
        }

        header {
            grid-column: 1 / -1;
        }

        aside {
            /* background: red; */
        }

        > .layout {
            width: auto;
        }

        .ring-wrapper,
        a svg,
        nav,
        header:is(body > header),
        footer {
            display: none;
        }

        a {
            color: inherit;

            /* Hide the external link markers */
            &::after {
                display: none;
            }
        }

        .cv-portfolio-list {
            a {
                padding-right: 0;

                &::after {
                    content: " (" attr(data-url) ")";
                    word-wrap: break-word;
                    font-style: italic;
                    font-size: 0.9em;
                    white-space: wrap;
                    opacity: 0.75;
                    display: inline;
                    color: inherit;
                    /* color: #006fc6 !important; */
                    text-decoration: none !important;
                    background-image: none !important;
                    text-shadow: none !important;
                }
            }
        }
    }
}

@page {
    margin: 1%;
}
