@view-transition {
	navigation: auto;
}

:root {
	color-scheme: light dark;

	--range: 0;
}

html::after {
	--_progress: progress(var(--range), 1, 100);
	--ptext: calc(var(--_progress) * 100);
	--progress-pc: calc(var(--_progress) * 100%);

	counter-reset: range var(--ptext);

	content: counter(range) "%";
	font-size: 50px;
	color: white;
	position: absolute;
	inset: 0;
	z-index: -1;
	background: conic-gradient(red var(--progress-pc, 33%), green 0);

	view-transition-name: html-after;
}

html,
body {
	height: 100%;
}

@property --range {
	syntax: "<number>";
	inherits: true;
	initial-value: 40;
}

::view-transition-old(html-after) {
	animation-name: --kf-travel-out;
}

::view-transition-new(html-after) {
	animation-name: --kf-travel-in;
}

@keyframes --kf-travel-in {
	from {
		translateX: -100%;
		--range: 100;
	}
}

@keyframes --kf-travel-out {
	to {
		translateX: 100%;
		--range: 0;
	}
}
