---
import Logo from "@components/Logo.astro";
---

<header class="layout">
  <div class="layout-inner">
    <h1>
      <a href="/">
        <Logo />
        <span>Andrew Hudson</span>
      </a>
    </h1>
  </div>
</header>

<style>
  header {
    padding-top: 1rem; 
    padding-bottom: 0.5rem;
  }
  header h1 {
    margin-block-end: 0;
    font-size: 1.5rem;
  }
  .logo {
    transform: translateY(0.25rem);
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  h1 a {
    display: inline-flex;
  }
</style>
