---
import dayjs from "dayjs";
import BackArrow from "../BackArrow.astro";
import BlogContent from "./BlogContent.astro"; 
import { blogHomeUrl } from "../Nav/HeaderNav.astro";

const { post } = Astro.props;
const { Content } = await post.render();
---

<article class="content post layout-inner">
  <header>
    <h3 class="publish-date">
      {
        dayjs(post.data.date).format(
          "dddd, DD MMMM YYYY"
        )
      }
    </h3>
    <h1 class="title">{post.data.title}</h1>
  </header>
  <BlogContent>
    <Content />
  </BlogContent>

  <BackArrow
    url={blogHomeUrl}
    title={"Back to all blog posts"}
  />
</article>

<style>
  .content {
    margin-bottom: 8rem;
  }

  .content :global(main > * + *) {
    margin-top: 1rem;
  }


  header {
    padding-block: 2rem;
  }

  p, li {
    margin-block-end: 1rem;
  }

  .publish-date {
    font-size: 1.25rem;
    margin: 0;
    color: var(--theme-text-lighter);
  }

  .title {
    margin: 0;
  } 
</style>
