---
import Logo from "@components/Logo.astro";
---

<header class="layout">
  <div class="layout-inner">
    <h1>
      <a href="/">
        <span>
        <Logo />
      </span>
        Andrew Hudson
      </a>
    </h1>
  </div>
</header>

<style>
  header {
    padding-top: 1rem; 
    padding-bottom: 0.5rem;
  }
  h1 {
    margin-block-end: 0;
    font-size: var(--step-3);
    line-height: 1;
    
  }

  @container (max-width: 500px) {
    h1 {
      /* font-size: 1.25rem; */
    }
  }

  .logo {
    transform: translateY(0.25rem);
  }

  a {
    display: inline-flex;
  }
  
</style>
