---
interface Props {
	number?: number | undefined;
	isPost?: boolean;
}

const { number, isPost } = Astro.props;
---
{
    number && (
        <div
            class={`post-number wrapper ${isPost ? "is-post" : ""}`}
            style={`--vt-index: num-${number};`}
        >{number}</div>
    )
}

<style>
    /* Need to import it here because Astro + postcss not working correctly. A known bug */
    @import "/src/css/partials/props.media.css";

    .wrapper {
        view-transition-name: var(--vt-index);
        font-size: 125%;
        font-weight: bold;
        color: var(--theme-accent);
        transition: all 0.3s;
        color: transparent;
        background-clip: text;
        pointer-events: none;
        background-image: linear-gradient(
            to right,
            hsl(from var(--theme-accent) calc(h + 240) s l),
            hsl(from var(--theme-accent) h s l / 0.8)
        );
        place-self: center;

        @media (--lg-n-above) {
            font-size: 200%;
        }
    }

    /* When on a post page */
    .is-post {
        position: fixed;
        top: 50%;
        left: 50%;
        right: auto;
        translate: -50% -25%;
        font-size: clamp(14.3rem, 50cqi, 3000%);
        width: max-content;

        line-height: 1;
        z-index: -2;
        opacity: 0.1;

        background-image: linear-gradient(
            to right,
            hsl(from black calc(h + 240) s l / 0.3),
            hsl(from black h s l / 0.75)
        );
    }
</style>
