---
interface Props {
	number?: number;
	isPost?: boolean;
}

const { number, isPost } = Astro.props;
---

{
    number && (
        <div
            class={`post-number wrapper ${isPost ? "is-post" : ""}`}
            style={`--vt-index: num-${number};`}
        >
            <span>{number}</span>
        </div>
    )
}

<style>
    .wrapper {
        view-transition-name: var(--vt-index);
        font-size: 200%;
        font-weight: bold;
        color: var(--theme-accent);
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        right: 0;
        transition: all 0.3s;
        color: transparent;
        background-clip: text;
        pointer-events: none;
        background-image: linear-gradient(
            to right,
            hsl(from var(--theme-accent) calc(h + 240) s l),
            hsl(from var(--theme-accent) h s l / 0.8)
        );
    }

    .is-post {
        position: fixed;
        top: 50%;
        left: 50%;
        right: auto;
        translate: -50% -25%;
        font-size: 3000%;
        font-size: clamp(14.3rem, 50cqi, 3000%);
        width: max-content;

        line-height: 1;
        z-index: -2;
        opacity: 0.1;

        background-image: linear-gradient(
            to right,
            hsl(from black calc(h + 240) s l / 0.3),
            hsl(from black h s l / 0.75)
        );
    }
</style>
