---
// Component Imports
import FullScreenLayout from "@layouts/FullScreenLayout.astro";
---
<FullScreenLayout>
  <div class="container">
    <header transition:name="demo-header">
    <h1>First Page</h1>
  </header>

    <a href="/experiments/view-transitions/2">Page 2</a>
  </div>
</FullScreenLayout>
