---
import FullScreenLayout from '@layouts/FullScreenLayout.astro'
---

<FullScreenLayout>
  <div class="container">
    <a href="/experiments/view-transitions/1">Page 1</a>

    <header style="view-transition-name: demo-header">
      <h1 style="margin-block-start: 100px;">Second Page</h1>
    </header>

    <button style="view-transition-name: img-swap">
        Button
    </button>
  </div>
</FullScreenLayout>
