---
import DemoLayout from "@layouts/DemoLayout.astro";
---

<DemoLayout  title="View Transitions 2">
  <div class="container">


    <header style="view-transition-name: demo-header">
      <h1 style="margin-block-start: 100px;">Second Page</h1>
    </header>

    <button style="view-transition-name: img-swap">
        Button
    </button>

    <a href="/experiments/view-transitions/1/">Page 1</a>
  </div>
</DemoLayout>
