---
import FullScreenLayout from "@layouts/FullScreenLayout.astro";
---

<FullScreenLayout>
  <div class="container">
    <header style="view-transition-name: demo-header">
      <h1 style="margin-block-start: 100px;">Second Page</h1>
    </header>

    <a href="/experiments/view-transitions/1">Page 1</a>
  </div>
</FullScreenLayout>
