---
import FullScreenLayout from "@layouts/FullScreenLayout.astro";
import "src/css/vt-demo.css";
---

<FullScreenLayout>
  <div class="container">
    
    <a href="/experiments/view-transitions/swipe-from">Swipe from</a>
  </div>
</FullScreenLayout>

<style is:global>
    



</style>
