---
import FullScreenLayout from '@layouts/FullScreenLayout.astro'
import "src/css/vt-demo.css";
---

<FullScreenLayout>
  <div class="container">
    
    <a href="/experiments/view-transitions/swipe-to">Swipe To</a>
  </div>
</FullScreenLayout>
