---
import DemoLayout from "@layouts/DemoLayout.astro";
import "src/css/vt-demo.css";
---

<DemoLayout  title="Swipe To">
  <div class="container">

    <a href="/experiments/view-transitions/swipe-from">Swipe from</a>
  </div>
</DemoLayout>

<style is:global>




</style>
