---
// Web component imports
import { AHButton } from "../../../web-components/ah-button.js";

// Component Imports
import FullScreenLayout from "../../../layouts/FullScreenLayout.astro";

const title = "Web Components 1 - Test";
---

<FullScreenLayout title={title}>
  <div class="container">
    <AHButton client:visible>I am button</AHButton>
  </div>
</FullScreenLayout>
