---
import BaseHead from "@components/Global/BaseHead.astro";
import BlogHeader from "@components/Global/SiteHeader.astro";

import FooterNav from "@components/Nav/FooterNav.astro";
import FooterScripts from "@components/Global/FooterScripts.astro";

import "src/css/global.css";
import BottomOfHead from "@components/Global/BottomOfHead.astro";

const { title, head, ogImage, permalink } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} ogImage={ogImage} permalink={permalink} />

    {head}

    <style>
      .content {
        margin-block-end: 8rem;
      }

      .content :global(main > * + *) {
        margin-block-start: 1rem;
      }

      .intro {
        margin-block-end: 2rem;
      }

      .intro > * {
        margin: 0;
      }
    </style>
    <BottomOfHead />
  </head>

  <body>
    <BlogHeader />

    <main class="layout">
      <slot />
    </main>

    <FooterNav />
    <FooterScripts />
  </body>
</html>
