---
import BaseHead from "@components/BaseHead.astro";
import HeaderNav from "@components/Nav/HeaderNav.astro";
import BlogHeader from "@components/Blog/BlogHeader.astro";
import FooterScripts from "@components/FooterScripts.astro";

import "src/css/global.css";
import { ViewTransitions } from "astro:transitions";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

const { title, head } = Astro.props;

let description =
  "Senior Software Engineer looking for answers.";
let permalink = "https://andrewhudson.dev/";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      permalink={permalink}
    />

    {head}

    <style>
      .content {
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        margin-bottom: 2rem;
      }

      .intro > * {
        margin: 0;
      }
    </style>

    <ViewTransitions />
  </head>

  <body>
    <BlogHeader />
    <HeaderNav />

    <slot />

    <FooterScripts />
  </body>
</html>
