---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
import HeaderNav from "../components/Nav/HeaderNav.astro";
import BlogHeader from "../components/Blog/BlogHeader.astro";
import FooterScripts from "../components/FooterScripts.astro";

import "src/css/global.css";
import "src/css/cv.css";

interface Props {
  title: string;
}

const { title } = Astro.props;

const description = "Senior Software Engineer looking for answers.";
const permalink = "https://andrewhudson.dev/";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body class="cv">
    <BlogHeader />
    <HeaderNav />
    <div class="layout">
      <article class="content layout-inner">
        <section class="intro">
          <h1 class="title">{title}</h1>
        </section>
        <section>
          <slot />
        </section>
      </article>
    </div>
    <FooterScripts />
  </body>
</html>
