---
import BaseHead from '@components/Global/BaseHead.astro'
import BlogHeader from '@components/Global/SiteHeader.astro'

import BottomOfHead from '@components/Global/BottomOfHead.astro'
import FooterNav from '@components/Nav/FooterNav.astro'

import 'src/css/global.css'
import 'src/css/cv.css'

interface Props {
	title: string
}

const { title } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} />
    <BottomOfHead />
  </head>

  <body class="cv">
    <BlogHeader />
    <main class="layout">
      <div class="content layout-inner">
        <h1 class="title">{title}</h1>
        <slot />
      </div>
    </main>
    <FooterNav />
  </body>
</html>
