---
import BaseHead from "@components/Global/BaseHead.astro";
import BlogHeader from "@components/Global/SiteHeader.astro";
import FooterNav from "@components/Nav/FooterNav.astro";

import "src/css/global.css";
import BottomOfHead from "@components/Global/BottomOfHead.astro";
import RotatingScrollLogo from "@components/Global/RotatingScrollLogo.astro";
import SettingsToggler from "@components/CV/SettingsToggler.svelte";

interface Props {
    accent?: string;
    title: string;
    head?: string;
    bodyClass?: string;
    hideTitle?: boolean;
    showToggler?: boolean;
}

const {
    title,
    head,
    accent = "var(--theme-accent-blue)",
    bodyClass = "",
    hideTitle,
    showToggler = false,
}: Props = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} />

        {head}

        <style define:vars={{ accent }}>
            body {
                --theme-accent: var(--accent);
            }

            .content {
                margin-block-start: 2rem;
            }

            .content :global(main > * + *) {
                margin-block-start: 1rem;
            }

            .intro {
                margin-block-end: 2rem;
            }

            .intro > * {
                margin: 0;
            }
        </style>
        <BottomOfHead />
    </head>

    <body class={bodyClass}>
        <BlogHeader />

        {
            showToggler && (
                <SettingsToggler
                    client:visible
                    class="contact-photo"
                    src="/images/cv/andrew-profile.jpg"
                    alt="Photo of Andrew JD Hudson"
                    themeColorKey={"theme-color-default"}
                />

                <script define:vars={{ themeColorKey: "theme-color-default" }}>
                    const localThemeColor = localStorage.getItem(themeColorKey);
                    if (localThemeColor) {
                        document.body.style.setProperty("--accent", localThemeColor);
                    }
                </script>
            )
        }

        <main class="content layout">
            {
                !hideTitle && title !== "" && (
                    <div class="intro">
                        <h1 class="title">{title}</h1>
                    </div>
                )
            }

            <slot />
        </main>
        <FooterNav />

        <RotatingScrollLogo />
    </body>
</html>
