---
import BaseHead from "@components/Global/BaseHead.astro";
import SiteHeader from "@components/Global/SiteHeader.astro";
import FooterNav from "@components/Nav/FooterNav.astro";

import RotatingScrollLogo from "@components/Global/RotatingScrollLogo.astro";
interface Props {
    accent?: string;
    title: string;
    bodyClass?: string;
    hideTitle?: boolean;
}

const {
    title,
    accent = "var(--theme-accent-blue)",
    bodyClass = "",
    hideTitle,
}: Props = Astro.props;
const locale = Astro.currentLocale ?? "en";
const showIntroAndTitle = !hideTitle && title !== "";
---

<html lang={locale}>
    <head>
        <BaseHead title={title} />

        <style define:vars={{ accent }}>
            body {
                --theme-accent: var(--accent);
            }
        </style>
    </head><body class={bodyClass}>
        <SiteHeader />

        <main class={`content layout ${!showIntroAndTitle ? "no-intro" : ""}`}>
            {
                showIntroAndTitle && (
                    <div class="intro">
                        <h1 class="title">{title}</h1>
                    </div>
                )
            }

            <slot />
        </main>
        <FooterNav />

        <RotatingScrollLogo />
    </body>
</html>
<style>
    main {
        padding-block-start: 1rem;
    }
    :where(.no-intro) {
        padding-top: 3rem;
    }
</style>
