---
import BaseHead from "@components/Global/BaseHead.astro";
import RotatingScrollLogo from "@components/Global/RotatingScrollLogo.astro";
import SiteHeader from "@components/Global/SiteHeader.astro";
import FooterNav from "@components/Nav/FooterNav.astro";
import { Temporal } from "@js-temporal/polyfill";

interface Props {
	accent?: string;
	title: string;
	bodyClass?: string;
	hideTitle?: boolean;
}

const {
	title,
	accent = "var(--theme-accent-blue)",
	bodyClass = "",
	hideTitle,
}: Props = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} />

        <style define:vars={{ accent }}>
            body {
                --theme-accent: var(--accent);
            }
        </style>
        <slot name="inside-head" />
    </head>

    <body class={bodyClass}>
        <SiteHeader />

        <main class="content layout">
            {
                !hideTitle && title !== "" && (
                    <div class="intro">
                        <h1 class="title">{title}</h1>
                    </div>
                )
            }

            <slot />
        </main>
        <footer>
            <FooterNav />
            <p>&copy; Andrew JD Hudson {Temporal.Now.plainDateISO().year}</p>
        </footer>

        <RotatingScrollLogo />
        <slot name="end-body" />
    </body>
</html>
