---
import BaseHead from "@components/Global/BaseHead.astro";
import SiteHeader from "@components/Global/SiteHeader.astro";
import FooterNav from "@components/Nav/FooterNav.astro";

import RotatingScrollLogo from "@components/Global/RotatingScrollLogo.astro";
interface Props {
    accent?: string;
    title: string;
    bodyClass?: string;
    hideTitle?: boolean;
}

const {
    title,
    accent = "var(--theme-accent-blue)",
    bodyClass = "",
    hideTitle,
}: Props = Astro.props;
const locale = Astro.currentLocale ?? 'en'; 
---

<html lang={locale}>
  <head>
    <BaseHead title={title} />

    <style define:vars={{ accent }}>
        body {
            --theme-accent: var(--accent);
        }
    </style>

    <body class={bodyClass}>
        {<SiteHeader />}

        <main class="content layout">
            {
                !hideTitle && title !== "" && (
                    <div class="intro">
                        <h1 class="title">{title}</h1>
                    </div>
                )
            }

            <slot />
        </main>
        <FooterNav />

        <RotatingScrollLogo />
    </body>
</html>
