---
import BaseHead from "@components/Global/BaseHead.astro";
import FooterNav from "@components/Nav/FooterNav.astro";
import BlogHeader from "@components/Global/SiteHeader.astro";
import FooterScripts from "@components/Global/FooterScripts.astro";

import "src/css/global.css";
import BottomOfHead from "@components/Global/BottomOfHead.astro";

const { title, head } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} />

    {head}

    <style>
      .content {
        margin-block-start: 2rem;
        margin-block-end: 8rem;
      }

      .content :global(main > * + *) {
        margin-block-start: 1rem;
      }

      .intro {
        margin-block-end: 2rem;
      }

      .intro > * {
        margin: 0;
      }
    </style>
    <BottomOfHead />
  </head>

  <body>
    <BlogHeader />

    <div class="layout">
      <article class="content layout-inner">
        <section class="intro">
          <h1 class="title">{title}</h1>
        </section>
        <section>
          <slot />
        </section>
      </article>
    </div>
    <FooterNav />
    <FooterScripts />
  </body>
</html>
