---
import BaseHead from "@components/Global/BaseHead.astro";
import RotatingScrollLogo from "@components/Global/RotatingScrollLogo.astro";
import SiteHeader from "@components/Global/SiteHeader.astro";
import FooterNav from "@components/Nav/FooterNav.astro";

interface Props {
    title: string;
    bodyClass?: string;
    hideTitle?: boolean;
}

const { title, bodyClass = "", hideTitle }: Props = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} />
    </head>

    <body class={bodyClass}>
        <SiteHeader />

        <main>
            {
                !hideTitle && title !== "" && (
                    <div class="intro">
                        <h1 class="title">{title}</h1>
                    </div>
                )
            }

            <slot />
        </main>
        <FooterNav />

        <RotatingScrollLogo />
    </body>
</html>
