---
import BaseHead from "@components/Global/BaseHead.astro";

interface Props {
	title: string;
	hideBackLink?: boolean;
	removePadding?: boolean;
}

const {
	title = "",
    hideBackLink = false,
	removePadding = false,
} = Astro.props;

const padding = !removePadding ? "1em" : "";
const backLink = "/experiments/";
---

<html lang="en">
    <head>
        <BaseHead title={title} />

        <style define:vars={{ padding }}>
            .slot {
                margin-block-start: 2em;
                padding-inline: var(--padding);
            }

            :global(body) {
                padding: 0;
            }

            .title {
                margin-block: 2rem;
                max-width: unset;
                line-height: 1;
            }
        </style>
    </head>

    <body>
        <main class="layout">
            <div class="inner">
                <section class="slot">
                    {!hideBackLink && <a href={backLink} class="back-link">&larr; Back</a>}
                    {title !== "" && <h1 class="title">{title}</h1>}
                    <slot />
                </section>
            </div>
        <style>
            body {
                --theme-accent: #52b788;
            }
        </style>
        </main>
    </body>
</html>
