---
import BaseHead from "@components/Global/BaseHead.astro";
import BottomOfHead from "@components/Global/BottomOfHead.astro";

import FooterScripts from "@components/Global/FooterScripts.astro";

import "src/css/global.css";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

const { title = "", head, backLink = "/experiments" } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} />

    {head}

    <style>
      .slot {
        margin-block-start: 2em;
        padding-inline: 1em;
      }
    </style>
    <BottomOfHead />
  </head>

  <body>
    <section class="slot">
      {backLink && <a href={backLink}>&larr; Back</a>}
      {title !== "" && <h1 class="title">{title}</h1>}
      <slot />
    </section>
    <FooterScripts />
    <style>
      body {
        --theme-accent: #52b788;
      }
    </style>
  </body>
</html>
