---
import BaseHead from "@components/Global/BaseHead.astro";
import SiteHeader from "@components/Global/SiteHeader.astro";

import "@css/full-page-template.css";

const { title, head, accentColor = "" } = Astro.props;

---
<html lang="en">
    <head>
        <BaseHead title={title} />

        {head}

        <link
            rel="preconnect"
            href="https://fonts.googleapis.com"
        />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Mono&display=swap"
            rel="stylesheet"
        />
    </head>

    <body class="full-page-layout" style={`${accentColor !== '' && `--theme-accent-override: ${accentColor}`}`}>
        <SiteHeader hidePhoto />
        <main class="layout full-page-content">
            <slot />
        </main>
    </body>
</html>
