---
import BaseHead from "@components/Global/BaseHead.astro";

interface Props {
    title?: string;
    backLink?: string;
    removePadding?: boolean;
}

const {
    title = "",
    backLink = "/experiments",
    removePadding = false,
} = Astro.props;

const padding = !removePadding ? "1em" : "";
---

<html lang="en">
    <head>
        <BaseHead title={title} />

        <style define:vars={{ padding }}>
            .slot {
                margin-block-start: 2em;
                padding-inline: var(--padding);
            }

            :global(body) {
                padding: 0;
            }
        </style>
    </head>

    <body>
        <section class="slot">
            {backLink && <a href={backLink}>&larr; Back</a>}
            {title !== "" && <h1 class="title">{title}</h1>}
            <slot />
        </section>
    </body>
</html>
