---
import { headerPages } from './pages'
import { getNavClassName } from './getNavClassName'
import ExternalLink from '@components/Global/ExternalLink.astro'

const requestPathname = Astro.url.pathname;

const locale = Astro.currentLocale ?? 'en'; 

const prefix = Astro.currentLocale !== 'en' ? `/${Astro.currentLocale}` : ""; 
---

<nav class="layout">
  <ul class="layout-inner nav">
    {
      headerPages.map((entry) => {
        const className = getNavClassName(entry.url, requestPathname);

        return (
          <li>
            {entry.external ? (
              <ExternalLink href={entry.url} size="1rem">{entry.title}</ExternalLink>
            ) : (
            <a class={className} href={prefix + entry.url}>
              {entry.title?.[locale] ?? entry.title.default}
            </a>
            )}
          </li>
        );
      })
    }
  </ul>
</nav>

<style>
  li {
    display: inline-grid;
    margin-right: 1em;
  }

  a {
    border-block-end: 2px solid transparent;
  }

  :global(.nav) {
    & a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  a:hover,
  .active {
    border-bottom-color: var(--theme-accent);
  }

  ul {
    padding-inline-start: 0;
  }
</style>
