---
const { page } = Astro.props
---

<ul>
  <li>
    {page.url.prev && <a href={page.url.prev}>&larr; Newer Posts</a>}
  </li>
  <li>
    {page.url.next && <a href={page.url.next}>Older Posts &rarr;</a>}
  </li>
</ul>

<style>
  ul {
    padding-inline-start: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  li {
    display: inline-block;
  }
  li:last-child {
    justify-self: flex-end;
  }
</style>
