---
const { height, background, spacing, width, float, style } = Astro.props;
---



<div
  style={{
    height: height ? `${height}` : "0",
    width: width ? `${width}` : 'auto',
    background: background ? background : "transparent",
    marginBlock: spacing ? spacing : '0 0.5rem',
    float: float ? float : '',
    ...style
  }}
>
</div>

