---



---
<div class="block-wrapper">
	<div class="block">
		<header>
			<h1 class="block__title">I am block</h1>
		</header>
		<div class="block__content">
			<p>I am content</p>
		</div>
  	</div>
</div>

