---

---

<div class="calendar-block-wrapper">
  <div class="calendar-block">
    <header>
      <h1 class="calendar-block__title">I am the Calendar block</h1>
    </header>
    <div class="calendar-block__content">
      <p>I am content</p>
    </div>
  </div>
</div>
