---
const { columns } = Astro.props
---


<div class="columns">
  <div
    class="inner"
    style={{
      gridTemplateColumns: `repeat(${columns}, 1fr)`,
    }}
  >
    <slot />
  </div>
</div>


<style>
  div :global(p) {
    margin: 0;
  }

  .inner {
    gap: 1rem;
  }

  .columns {
    container: inline-size;

    @container (501px > inline-size) {
      .inner {
        > :nth-child(2) {
          margin-block: 2rem;
          padding-block: 2rem;
          border-block: 20px solid;
        }
      }
    }

    @container (inline-size > 501px) {
      .inner {
        display: grid;
      }
    }
  }
</style>