---
import ExternalLink from "./ExternalLink.astro";


---

<div class="warning">
  <p>Your browser doesn't currently support @container style queries.</p>
  <p>
    Not yet figured out how to test for support for this so if you are on Chrome
    Canary then I am sorry you're getting this message!
  </p>
</div>

<div class="info">
  <p>Browser support is incomplete.</p>
  <p>Now in latest versions of Chrome Canary</p>
  <p>
    <ExternalLink href="https://caniuse.com/css-container-queries"
      >Check for latest support on Caniuse.com</ExternalLink
    >
  </p>
</div>

<style>
  @supports style(--decorated: true) {
    .warning {
      display: none;
    }
  }

  .info {
    margin-block-end: 3em;
  }

  .warning {
    border: 10px double red;
    padding: 1rem;
    margin-block-end: 1rem;
  }
</style>
