---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
	href: string;
}

const { href, ...attrs } = Astro.props;
---

<a href={href} target="_blank" {...attrs}>
    <slot />
    <svg width="1rem" height="1rem">
        <use href="#external-arrow"></use>
    </svg>
</a>

<style>
    a {
        padding-inline-end: 1rem;
    }
    svg {
        position: absolute;
    }
</style>
