---
import type { HTMLAttributes } from "astro/types";

import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"a"> {
	href: string;
}

const { href, ...attrs } = Astro.props;
---

<a href={href} target="_blank" {...attrs}>
    <slot />
    <Icon name="external-arrow" size="1rem" />
</a>

<style>
    a {
        padding-right: 1rem;
    }
    svg {
        position: absolute;
    }
</style>
