---
import type { HTMLAttributes } from "astro/types";

import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"a"> {
    href: string;
    size?: string;
}

const { href, size = "1rem", ...attrs } = Astro.props;
---

<a href={href} target="_blank" {...attrs}>
    <slot /><Icon name="external-arrow" size={size ?? ""} />
</a>

<style define:vars={{ size }}>
    a {
        padding-right: 1rem;
    }
    svg {
        position: absolute;
    }
</style>
