---
interface Props {
	url: string
	title: string
	isBlog?: boolean
}

const { url, title, isBlog = false } = Astro.props;

const text = Astro.currentLocale ? 'En savoir plus sur' : "Read more about";
---

<a href={url}>
  {isBlog ? <>{text} &ldquo;{title}&rdquo;</> : title} &rarr;
</a>
<style>
  a {
    display: block;
  }
</style>
