---
const string = "andrew jd hudson :) • ";
const characters = string.split("");
---

<div class="super-wrapper">
    <div class="ring-wrapper">
        <div class="ring" aria-hidden="true">
            {[...characters, ...characters].map((char) => <span>{char}</span>)}
        </div>
        <span class="sr-only">{string}</span>
    </div>
</div>

<style>
    /* Need to import it here because Astro + postcss not working correctly. A known bug */
    @import "/src/css/partials/props.media.css";

    @layer base, ring, scroll;

    @layer scroll {
        /* Opt-in the whole page to interpolate sizes to/from keywords */
        :root {
            interpolate-size: allow-keywords; /* 👈 */
        }

        html {
            scroll-timeline: --page-scroll block;
        }

        .super-wrapper {
            --radius: calc((1 / 0.2) * -2ch);
            position: fixed;
            top: 10rem;
            right: 10rem;

            &::after {
                clip-path: circle();
                aspect-ratio: 1;
                width: calc(100% + calc(var(--radius) * -1) - 40px);
                height: calc(100% + calc(var(--radius) * -1) - 40px);
                content: "";
                display: block;
                position: absolute;
                bottom: calc(100% + calc(var(--radius) * 1.4) + 20px);
                left: calc(100% + calc(var(--radius) * 1.4) + 20px);

                --pink: oklch(55% .45 350 / 0.85);
                --yellow: oklch(95% .4 95 / 0.85);

                --hdr-gradient: linear-gradient(
                    to top in oklab,
                    var(--pink) var(--percent),
                    var(--yellow) var(--percent)
                );
                background: var(--hdr-gradient);
                z-index: -1;
                opacity: 0;
                pointer-events: none;
                transition:
                    opacity 300ms,
                    scale 300ms;

            }
        }

        .ring {
            --font-size: 0.5;
            height: calc(
                var(--radius) * calc(var(--parent-ring-font-size) * -2.1)
            );
            border-radius: 50%;
            aspect-ratio: 1;
            display: grid;
            place-content: center;

            &::after {
                rotate: calc(14deg * var(--degrees));
                content: "☝️ Top";
                font-size: 0.8em;
                /* color: var(--theme-accent); */
                color: white;
            }
        }

        .ring-wrapper {
            display: none;

            opacity: 0;
            pointer-events: none;
            transition:
                opacity 300ms,
                scale 300ms;

            a {
                scroll-behavior: smooth;
            }

            &:hover {
                scale: 1.1;
                cursor: pointer;

                background-color: var(--theme-accent);

                .ring::after {
                    transition: all 0.3s;

                    rotate: calc(360deg - var(--degrees));
                }
            }
        }
        @supports (animation-timeline: scroll()) and (z-index: sibling-index()) {
            @container (min-width: 1300px) {
                @media (--motionOK) {
                    .super-wrapper::after {
                        --header-height: 10px;

                        animation-range:
                            var(--header-height)
                                calc(var(--header-height) + 50px),
                            calc(var(--header-height)) 100%;

                        animation-name: fade-in, grow-progress;
                        animation-fill-mode: both;
                        animation-timeline: scroll(), --page-scroll;
                    }

                    .ring-wrapper {
                        display: block;
                        animation-range:
                            var(--header-height)
                                calc(var(--header-height) + 50px),
                            calc(var(--header-height)) 100%;
                        animation-name: fade-in, rotation;
                        animation-fill-mode: both;
                        animation-timeline: scroll();

                        .ring {
                            --font-size: var(--parent-ring-font-size);
                        }
                    }
                }
            }
        }
    }

    @layer ring {
        .ring-wrapper {
            rotate: var(--degrees);
            aspect-ratio: 1;
            display: grid;
            place-items: center;
            z-index: 10;
            border-radius: 50%;
            font-weight: bold;
            display: none;
        }

        .ring {
            font-family: monospace;
            text-transform: uppercase;
            font-size: calc(var(--font-size, 1) * 2rem);
            position: relative;
        }

        span {
            text-box: trim-both cap alphabetic;
            --inner-angle: calc((360 / sibling-count()) * 1deg);
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            color: black;
            transform: translate(-50%, -50%)
                rotate(calc(var(--inner-angle) * sibling-index()))
                translateY(var(--radius));

            &:nth-child(odd) {
                color: var(--theme-accent);
            }
        }
    }

    @layer base {
        @property --degrees {
            syntax: "<angle>";
            initial-value: 0deg;
            inherits: true;
        }

        @property --percent {
            syntax: "<percentage>";
            initial-value: 0%;
            inherits: true;
        }

        @property --parent-ring-font-size {
            inherits: true;
            initial-value: 0.5;
            syntax: "<number>";
        }
    }

    @keyframes fade-in {
        to {
            opacity: 1;
            --parent-ring-font-size: 0.5;
            pointer-events: auto;
        }
    }

    @keyframes grow-progress {
        from {
            --percent: 0%;
        }

        to {
            --percent: 100%;
        }
    }
    @keyframes rotation {
        to {
            --degrees: calc(360 * 13deg);
        }
    }
</style>

<script>
    const supports =
        CSS.supports("animation-timeline: scroll()") &&
        CSS.supports("order: sibling-index()");

    if (supports) {
        const rotator = document.querySelector(".ring-wrapper");

        rotator?.addEventListener("click", () =>
            window.scrollTo({ top: 0, behavior: "smooth" }),
        );
    }
</script>
