---
const string = "andrew jd hudson :) • ";
const characters = string.split("");
const length = characters.length;
const charCount = length * 2;
---

<div class="ring-wrapper">
    <div class="ring" aria-hidden="true">
        {
            [...characters, ...characters].map((char, charIndex) => {
                return (
                    <span
                        class="char"
                        style={`--sibling-index: ${charIndex}; --sibling-count: ${charCount};`}
                    >
                        {char}
                    </span>
                );
            })
        }

        <span class="sr-only">{string}</span>
    </div>
</div>

<style>
    @layer base, ring, scroll;

    @layer scroll {
        body {
            view-timeline: --header-vtl;
        }

        @keyframes rotation {
            to {
                --degrees: calc(360 * 13deg);
            }
        }

        .ring {
            --font-size: 0.5;

            height: calc(
                var(--radius) * calc(var(--parent-ring-font-size) * -2.1)
            );
            border-radius: 50%;
            aspect-ratio: 1;
            display: grid;
            place-content: center;

            &::after {
                transform: rotate(calc(14deg * var(--degrees)));
                content: "☝️ Top";
                font-size: 0.8em;
                color: var(--theme-accent);
            }
        }

        .ring-wrapper {
            display: none;
            position: fixed;
            top: calc(var(--radius) * calc(var(--parent-ring-font-size) * -2));
            right: calc(
                var(--radius) * calc(var(--parent-ring-font-size) * -2)
            );
            opacity: 0;
            pointer-events: none;
            transition:
                opacity 300ms,
                scale 300ms;

            a {
                scroll-behavior: smooth;
            }

            &:hover {
                scale: 1.1;
                cursor: pointer;

                background-color: var(--theme-accent);

                .ring::after {
                    transition: all 0.3s;
                    color: white;
                    transform: rotate(calc(360deg - var(--degrees)));
                }
            }
        }
        @supports (animation-timeline: scroll()) {
            @container (min-width: 1300px) {
                @media (prefers-reduced-motion: no-preference) {
                    .ring-wrapper {
                        --header-height: 53px;

                        display: block;
                        animation-range:
                            var(--header-height)
                                calc(var(--header-height) + 50px),
                            calc(var(--header-height)) 100%;
                        animation-name: fadeIn, rotation;
                        animation-fill-mode: both;
                        animation-timeline: scroll();

                        .ring {
                            --font-size: var(--parent-ring-font-size);
                        }
                    }
                }
            }
        }
    }

    @layer ring {
        .ring-wrapper {
            --radius: calc((1 / 0.2) * -2ch);

            rotate: var(--degrees);
            position: fixed;
            top: 150px;
            right: 150px;
            aspect-ratio: 1;
            translate: 0% 0%;
            display: grid;
            place-items: center;
            z-index: 10;
            border-radius: 50%;
            font-weight: bold;
            display: none;
        }

        .ring {
            font-family: monospace;
            text-transform: uppercase;
            font-size: calc(var(--font-size, 1) * 2rem);
            position: relative;
        }

        .char {
            --inner-angle: calc((360 / var(--sibling-count)) * 1deg);
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            /* color: hsl(calc(var(--char-index) * 10deg) 100% 50%); */
            transform: translate(-50%, -50%)
                rotate(calc(var(--inner-angle) * var(--sibling-index)))
                translateY(var(--radius));

            &:nth-child(odd) {
                color: var(--theme-accent);
            }
        }
    }

    @layer base {
        @property --degrees {
            syntax: "<angle>";
            initial-value: 0deg;
            inherits: true;
        }

        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border-width: 0;
        }

        * {
            box-sizing: border-box;
        }
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
            --parent-ring-font-size: 0.5;
            pointer-events: auto;
        }
    }

    @property --parent-ring-font-size {
        inherits: true;
        initial-value: 0.5;
        syntax: "<number>";
    }
</style>

<script>
    const rotator = document.querySelector(".ring-wrapper");

    rotator?.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
    });
</script>
