---
interface Props {
    src: string;
    alt: string;
    themeColorKey: string;
}
const { src, alt } = Astro.props;
---

<div class="wrapper">
    <img {src} {alt} height="100" width="100" />
</div>

<style>
    img {
        display: block;
        border-radius: 50%;
        transition: corner-shape 300ms ease-in-out;
        corner-shape: superellipse(0.5);

        &:hover {
            corner-shape: round;
        }
    }
</style>
