---
import SettingsToggler from "@components/CV/SettingsToggler.astro";
import HeaderNav from "@components/Nav/HeaderNav.astro";
import { themeColorKey } from "@pages/cv/content";

const { hidePhoto = false } = Astro.props;
---

<header class="layout">
    <div class="layout-inner">
        <h1>
            <a href="/"> Andrew JD Hudson </a>
        </h1>
        <HeaderNav />


    </div>
{!hidePhoto && (
        <SettingsToggler
            src="/images/cv/andrew-profile.jpg"
            alt="Photo of Andrew JD Hudson"
            themeColorKey={themeColorKey}
        />
    )}

</header>

<style>
    header {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: page;
        /* color: white; */
        /* background: orangered; */


        /* a {
            color: white;
        } */
    }

    .layout-inner {
        padding-block: calc(var(--column-gap-size) * 3) calc(var(--column-gap-size) * 3);
        grid-template-columns: subgrid;
        grid-column: center;
        grid-row: 1;
    }

    h1 {
        margin-block-end: 0.5rem;
        font-size: 1.5rem;

        a {
            vertical-align: -1px;
            font-weight: bold;
            display: inline-flex;

            &:hover {
                text-decoration: none;
            }
        }
    }

    :global(.settings-toggler) {
        grid-row: 1;
        grid-column-end: center-end;
        direction: rtl;
        /* padding-block-start: calc(var(--column-gap-size) * 1.5); */
    }


</style>
