---
import HeaderNav from "@components/Nav/HeaderNav.astro";
---

<header class="site-header">
    <div class="layout-inner">
        <h1>
            <a href="/"> Andrew JD Hudson </a>
        </h1>
        <HeaderNav />
    </div>
</header>

<style>
    @scope (.site-header) {
        display: grid;
        grid-template-columns: 1fr auto;

        h1 {
            margin-block-end: 0.5rem;
            font-size: 1.5rem;

            a {
                vertical-align: -1px;
                font-weight: bold;
                display: inline-flex;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
</style>
